<ion-header class="shadow">
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button class="ml-2" (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header"></i>
			</button>
		</ion-buttons>
		<ion-title>Jadwalkan Servis</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

  <div class="row text-center ">
    <div class="col-12">
        <div class="card shadow-sm border-0 mb-4" (click)="workShopService()">
            <div class="card-body text-left">
                <div class="btn-icon-home avatar-book no-shadow mb-1 border-top align-items-center d-flex mt-2">
                  <i class="bx bxs-car-garage m-auto h1 " color="light" ion-text></i>
                </div>
                <h4 class="">Servis di Bengkel</h4>
                <p class="text-secondary text-mute pr-3">
                  Ga usah antri lagi kalau ke bengkel! Tentukan tanggal dan jam kedatangan kamu, tunggu konfirmasi dari kami dan datang pada waktu yang kamu tentukan. Ingat datang tepat waktu yah.
                </p>

                <div class="align-items-center d-flex justify-content-end mt-4 mb-0">
                  <h6 ion-text color="primary">
                    Jadwalkan<i class='bx bx-right-arrow-alt mb-0 ml-2'></i>
                  </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
      <div class="card shadow-sm border-0 mb-4" (click)="homeService()">
        <div class="card-body text-left">
          <div class="btn-icon-home avatar-book no-shadow mb-1 border-top align-items-center d-flex mt-2">
            <i class="bx bx-home m-auto h1 " color="light" ion-text></i>
          </div>
          <h4 class="">Servis di Rumah</h4>
          <p class="text-secondary text-mute pr-3">
            Lagi males keluar? Atau mobil susah diajak jalan? Jadwalkan servis kamu di rumah aja. Kami yang akan datang, pastikan mobilnya stanby di rumah ya.
          </p>

          <div class="align-items-center d-flex justify-content-end mt-4 mb-0">
            <h6 ion-text color="primary">
              Jadwalkan<i class='bx bx-right-arrow-alt mb-0 ml-2'></i>
            </h6>
          </div>
      </div>
      </div>
  </div>
  </div>

</ion-content>
