<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ng-container *ngIf="spinner; else MainContent">
    <div class="text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-container>

  <ng-template #MainContent>
    <ng-container *ngIf="errorGetActivity; else LoadedActivity">
      <div>
        <error-500 [retry_id]="'onprogress_trx'"></error-500>
      </div>
    </ng-container>

    <ng-template #LoadedActivity>
      <ng-container *ngIf="list_data.length > 0;else NoData">
        <div class="border-top shadow-sm bg-white" *ngFor="let list of list_data" (click)="detail(list.srv_t_uuid)">
          <div class="card-body d-flex align-items-center">
              <div>
                <span class="btn btn-danger button-rounded-26">
                  <i class="bx bx-phone-call md-18 text-mute"></i>
                </span>
              </div>
              <div class="ml-4 w-100">
                <div class="d-flex justify-content-between align-items-center ">
                  <h5 class="text-dark mb-0 h6 mt-0">ID : {{ list.srv_t_code }} </h5>
                  <p ion-text color="primary" class="text-right small">{{ list.srv_t_status_name }}</p>
                </div>
                <h6 class="mb-1 mt-0">{{ list.crs_brand_name }} {{ list.crs_model_name }}</h6>
                <p class="mb-0 small" *ngIf="list.srv_t_cat == 1">
                  {{ list.srv_t_date }} - Layanan Bengkel
                </p>
                <p class="mb-0 small" *ngIf="list.srv_t_cat == 2">
                  {{ list.srv_t_date }} - Home Service
                </p>
                <p class="mb-0 small" *ngIf="list.srv_t_cat == 3">
                  {{ list.srv_t_date }} - Emergency Service
                </p>
              </div>
          </div>
        </div>
        <ion-infinite-scroll (ionInfinite)="doLoadMore($event)" *ngIf="loadMore == true" class="mt-3">
          <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Mengambil data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ng-container>
      <ng-template #NoData>
        <div class="d-flex justify-content-center h-100" padding> 
          <div class="text-center card-body m-auto">
            <div class="avatar avatar-60 no-shadow mb-2 border-top align-items-center d-flex">
              <i class="bx bx-pulse m-auto h1" ion-text color="primary"></i>
            </div>
            <h3 class="mt-5 mb-3 font-weight-normal">Tidak Ada Aktivitas</h3>
            <p class="text-secondary text-muted">Anda Tidak Memiliki Aktivitas {{ tab.toUpperCase() }}</p>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </ng-template>

</ion-content>
