<ion-header>
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left *ngIf="((orderByCall || orderByStore) || (!orderByStore || !orderByCall)) && ((page !== 'orderSubmitted' && orderByStore) || page === 'order')">
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header ml-2"></i>
			</button>
		</ion-buttons>
    <ion-title>Servis Darurat {{ (orderByCall) ? '- Towing' : (orderByStore) ? '- Bengkel' : '' }}</ion-title>
    <ion-buttons right *ngIf="orderByCall && page == 'orderSubmitted'">
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				Selesai
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content [style.opacity]="(global.openMaps) ? 0 : ''">

  <div padding *ngIf="!isPickedOrderType">
    <div class="row text-center ">
      <div class="col-12">
        <div class="card shadow-sm border-0 mb-4" (click)="chooseOrderType('towing')">
          <div class="card-body text-left">
            <div class="btn-icon-home avatar-book no-shadow mb-1 border-top align-items-center d-flex mt-2">
              <i class="bx bx bxs-phone-call m-auto h1 " color="light" ion-text></i>
            </div>
            <h4 class="">Hubungi Towing</h4>
            <p class="text-secondary text-mute pr-3">
              Mobil mogok di tengah jalan? Kesulitan menghubungi bengkel terdekat? Dalam keadaan darurat, kamu bisa langsung panggil towing ke lokasi kamu untuk membawa mobil ke bengkel kesayangan kamu.
            </p>

            <div class="align-items-center d-flex justify-content-end mt-4 mb-0">
              <h6 ion-text color="primary">
                Hubungi<i class='bx bx-right-arrow-alt mb-0 ml-2'></i>
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card shadow-sm border-0 mb-4" (click)="chooseOrderType('store')">
          <div class="card-body text-left">
            <div class="btn-icon-home avatar-book no-shadow mb-1 border-top align-items-center d-flex mt-2">
              <i class="bx bxs-car-garage m-auto h1 " color="light" ion-text></i>
            </div>
            <h4 class="">Hubungi Bengkel</h4>
            <p class="text-secondary text-mute pr-3">
              Mobil kesayangan lagi bermasalah di tengah jalan? Jangan di paksain dan ga usah panik. Panggil mekanik bengkel saja, jangan lupa cari lokasi aman untuk melipir yah.
            </p>

            <div class="align-items-center d-flex justify-content-end mt-4 mb-0">
              <h6 ion-text color="primary">
                Hubungi<i class='bx bx-right-arrow-alt mb-0 ml-2'></i>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isPickedOrderType">
    <ng-container *ngIf="orderByStore">
      <ng-container *ngIf="global.isLogin; else loginOrderByStore">
        <ng-container *ngIf="page == 'orderSubmitted'; else formOrderByStore">
          <div padding>
            <div class="card mb-4 border-0 shadow-sm py-4 ">
              <div class="card-body text-center">
                <img src="../../assets/image/check.svg" style="height: 55px;" class="mb-3">
                <p class="text-secondary my-1">Pesan anda telah kami teruskan ke bengkel</p>
                <h4 class="mb-0 mt-1">Mohon menunggu, pihak bengkel akan segera menghubungi Anda</h4>
                <p class="mb-0 mt-1" style="font-size: 16px;">Mohon pastikan lokasi Anda sudah sesuai. Bila bengkel belum menghubungi Anda, silahkan kontak bengkel langsung dari menu Kontak</p>
              </div>
            </div>
            <button type="button" class="btn btn-block btn-rounded mt-2" ion-button color="primary" round (click)="dismiss()">Selesai</button>
          </div>
        </ng-container>
        <ng-template #formOrderByStore>
          <div padding>
            <div class="text-center">
              <h4 class="subtitle mb-0" ion-text color="primary">Pilih Kendaraan Anda</h4>
              <p class="text-secondary">Klik Gambar Untuk Memilih Kendaraan Yang Akan Di Servis</p>
            </div>
  
            <div class="section-slider-cars">
              <div class="slider-vehicle d-flex align-items-center">
                <i class='bx bx-left-arrow-circle navigation-slider-left' (click)="slidePrev()" ></i>
          
                <ion-slides class="h-auto mt-3" (ionSlideDidChange)="slideChanged()"> 
                  <ng-container *ngIf="spinnerVehicle == true;else ListVehicle">
                    <div class="spinner-center">
                      <ion-spinner name="crescent"></ion-spinner>
                    </div>
                  </ng-container>
                  <ng-template #ListVehicle>
                    <ng-container *ngIf="myVehicle.length > 0;else NoVehicle">
                      <ion-slide class="m-auto" *ngFor="let list of myVehicle">
                        <i class='bx bx-check vehicle-check shadow-sm' *ngIf="vehicle == list.cst_crs_id"></i>
                        <div class="card border-0 shadow-sm card-choose-car" (click)="setVehicle(list.cst_crs_id, list.crs_model_id)">
                          <div class="card-body text-center d-flex align-items-center">
                            <div class="w-100 m-auto">
                              <img [src]="(list.cst_crs_photo !== null) ? global.config('urlApi')+list.cst_crs_photo : './../../assets/image/icon-car/3.png'" class="icon-mobile">
                              <h6>{{ list.crs_brand_name }} {{ list.crs_model_name }}</h6>
                              <p>{{ list.crs_model_transmission }} {{ list.crs_model_type }}</p>
                              <h6>{{ list.cst_crs_police_number }}</h6>
                            </div>
                          </div>
                        </div> 
                      </ion-slide>
          
                      <ion-slide class="m-auto">
                        <div class="card border-0 shadow-sm border-dashed " (click)="addVehicle()">
                          <div class="card-body text-center d-flex align-items-center">
                              <i class="bx bx-plus m-auto h" ion-text color="primary"></i>
                          </div>
                        </div> 
                      </ion-slide>
                    </ng-container>
                    <ng-template #NoVehicle>
                      <ion-slide class="m-auto">
                        <div class="card border-0 shadow-sm border-dashed " (click)="addVehicle()">
                          <div class="card-body text-center d-flex align-items-center">
                              <i class="bx bx-plus m-auto h" ion-text color="primary"></i>
                          </div>
                        </div> 
                      </ion-slide>
                    </ng-template>
                  </ng-template>
                </ion-slides>
          
                <i class='bx bx-right-arrow-circle navigation-slider-right' (click)="slideNext()" ></i>
              </div>
            </div>

            
            <div class="form-group">
              <label for="exampleFormControlInput1">Bengkel</label>
              <ion-input type="hidden" [ngModelOptions]="{ standalone: true }" [(ngModel)]="data.str_id"></ion-input>
              <input type="text" class="form-control" placeholder="Pilih Bengkel" [(ngModel)]="data_label['str_id_label']" [ngModelOptions]="{standalone: true}" readonly (click)="sAutoComplete('str_id', 'Lokasi Servis')">
            </div>
  
            <div class="section-note-address">
              <h6 class="subtitle" ion-text color="primary">Keluhan Kendaraan</h6>
              <div class="form-group">
                <textarea class="form-control" rows="6" placeholder="Tulis Keluhan Kendaraan Anda Disini..." [(ngModel)]="data.srv_t_note_users" [ngModelOptions]="{standalone:true}"></textarea>
              </div>
            
              <h6 class="subtitle" ion-text color="primary">Alamat</h6>
              <div class="form-group">
                <textarea class="form-control" rows="6" placeholder="Tulis alamat / Masukin link Google Maps" [(ngModel)]="data.srv_t_address" [ngModelOptions]="{standalone:true}"></textarea>
              </div>
    
              <!-- <h6 class="subtitle" ion-text color="primary">Titik Lokasi (google maps)</h6>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Klik Untuk Membuka Maps" [(ngModel)]="data.srv_t_maps" [ngModelOptions]="{standalone:true}" (click)="openMaps()" readonly>
              </div> -->
            </div>
  
            <div class="section-cust-data">
              <h6 class="subtitle text-center mt-2" ion-text color="primary">Penanggung Jawab (optional)</h6>
              <div>
                <hr class="shadow-sm">
                <div class="takebyoption">
                  <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="self" (click)="takeBy = 'self'" [checked]="takeBy == 'self'" (change)="onChangeUserPick()">
                    <label class="form-check-label" for="self">Saya Sendiri</label>
                  </div>
                  
                  <div class="form-check form-check-inline ml-2">
                    <input type="checkbox" class="form-check-input" id="takeby" (click)="takeBy = 'takeby'" [checked]="takeBy == 'takeby'" (change)="onChangeUserPick()">
                    <label class="form-check-label" for="takeby">Orang Lain</label>
                  </div>
                  <hr class="shadow-sm">
                </div>
                <ng-container *ngIf="takeBy == 'self'; else TakeBy">
                  <div class="form-group">
                    <label >Atas Nama</label>
                    <input type="text" class="form-control" placeholder="Atas Nama" [(ngModel)]="data.srv_t_fullname" [ngModelOptions]="{standalone:true}">
                  </div>
                  <div class="form-group">
                    <label >Nomor KTP</label>
                    <input type="text" class="form-control" placeholder="Nomor Ktp" [(ngModel)]="data.srv_t_nik" [ngModelOptions]="{standalone:true}">
                  </div>
                  <div class="form-group">
                    <label >Nomor Telp</label>
                    <input type="text" class="form-control" placeholder="Nomor Telepon" [(ngModel)]="data.srv_t_phone" [ngModelOptions]="{standalone:true}">
                  </div>
                </ng-container>
                <ng-template #TakeBy>
                  <div class="form-group">
                    <label >Atas Nama</label>
                    <input type="text" class="form-control" placeholder="Atas Nama" [(ngModel)]="data.srv_t_fullname" [ngModelOptions]="{standalone:true}">
                  </div>
                  <div class="form-group">
                    <label >Nomor Telp</label>
                    <input type="text" class="form-control" placeholder="Nomor Telepon" [(ngModel)]="data.srv_t_phone" [ngModelOptions]="{standalone:true}">
                  </div>
                </ng-template>
              </div>
            </div>
  
            <hr class="shadow">
            <div class="custom-control custom-checkbox align-items-center d-flex mb-3">
              <input type="checkbox" class="custom-control-input" id="tos" [(ngModel)]="tosAccepted" [ngModelOptions]="{standalone:true}">
              <label class="custom-control-label" for="tos" ion-text [color]="(reqTOS) ? 'danger' : 'dark'">Dengan ini saya setuju syarat dan ketentuan layanan emergency service.</label>
            </div>
          
            <button class="btn btn-block  mt-4 mb-3 rounded" (click)="submitOrder()" ion-button color="primary">
              Request Now
            </button>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #loginOrderByStore>
        <div class="bg-default" padding style="height: 100vh; width: 100%;">
          <login></login>
        </div>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="orderByCall">
      <div padding *ngIf="page == 'order'; else OrderSubmitedCall">
        <ng-container *ngIf="global.isLogin; else carsNameNotLogin">
          <div class="text-center">
            <h4 class="subtitle mb-0" ion-text color="primary">Pilih Kendaraan Anda</h4>
            <p class="text-secondary">Klik Gambar Untuk Memilih Kendaraan Yang Akan Di Servis</p>
          </div>

          <div class="section-slider-cars">
            <div class="slider-vehicle d-flex align-items-center">
              <i class='bx bx-left-arrow-circle navigation-slider-left' (click)="slidePrev()" ></i>
        
              <ion-slides class="h-auto mt-3" (ionSlideDidChange)="slideChanged()"> 
                <ng-container *ngIf="spinnerVehicle == true;else ListVehicle">
                  <div class="spinner-center">
                    <ion-spinner name="crescent"></ion-spinner>
                  </div>
                </ng-container>
                <ng-template #ListVehicle>
                  <ng-container *ngIf="myVehicle.length > 0;else NoVehicle">
                    <ion-slide class="m-auto" *ngFor="let list of myVehicle">
                      <i class='bx bx-check vehicle-check shadow-sm' *ngIf="vehicle == list.cst_crs_id"></i>
                      <div class="card border-0 shadow-sm card-choose-car" (click)="setVehicle(list.cst_crs_id, list.crs_model_id)">
                        <div class="card-body text-center d-flex align-items-center">
                          <div class="w-100 m-auto">
                            <img [src]="(list.cst_crs_photo !== null) ? global.config('urlApi')+list.cst_crs_photo : './../../assets/image/icon-car/3.png'" class="icon-mobile">
                            <h6>{{ list.crs_brand_name }} {{ list.crs_model_name }}</h6>
                            <p>{{ list.crs_model_transmission }} {{ list.crs_model_type }}</p>
                            <h6>{{ list.cst_crs_police_number }}</h6>
                          </div>
                        </div>
                      </div> 
                    </ion-slide>
        
                    <ion-slide class="m-auto">
                      <div class="card border-0 shadow-sm border-dashed " (click)="addVehicle()">
                        <div class="card-body text-center d-flex align-items-center">
                            <i class="bx bx-plus m-auto h" ion-text color="primary"></i>
                        </div>
                      </div> 
                    </ion-slide>
                  </ng-container>
                  <ng-template #NoVehicle>
                    <ion-slide class="m-auto">
                      <div class="card border-0 shadow-sm border-dashed " (click)="addVehicle()">
                        <div class="card-body text-center d-flex align-items-center">
                            <i class="bx bx-plus m-auto h" ion-text color="primary"></i>
                        </div>
                      </div> 
                    </ion-slide>
                  </ng-template>
                </ng-template>
              </ion-slides>
        
              <i class='bx bx-right-arrow-circle navigation-slider-right' (click)="slideNext()" ></i>
            </div>
          </div>
        </ng-container>
        <ng-template #carsNameNotLogin>
          <ng-container>
            <div class="form-group">
              <label >Mobil</label>
              <input type="text" class="form-control" placeholder="Mobil anda, ex : Captiva NFL DSL AT" [(ngModel)]="data.cst_cars" [ngModelOptions]="{standalone:true}">
            </div>
          </ng-container>
        </ng-template>
  
        <div class="form-group">
          <label >Keluhan Kendaraan</label>
          <textarea class="form-control" rows="6" placeholder="Estimasi waktu & biaya pengerjaan keluhan, baru dapat di tentukan ketika mobil sudah tiba" [(ngModel)]="data.srv_t_note_users" [ngModelOptions]="{standalone:true}"></textarea>
        </div>
  
        <div class="form-group">
          <label >Alamat</label>
          <textarea class="form-control" rows="6" placeholder="Tulis alamat / Masukin link Google Maps" [(ngModel)]="data.srv_t_address" [ngModelOptions]="{standalone:true}"></textarea>
        </div>
  
        <div class="form-group">
          <label >Atas Nama</label>
          <input type="text" class="form-control" placeholder="Nama anda" [(ngModel)]="data.srv_t_fullname" [ngModelOptions]="{standalone:true}">
        </div>
  
        <div class="form-group">
          <label >Nomor Telpon</label>
          <input type="text" class="form-control" placeholder="Nomor telpon anda" [(ngModel)]="data.srv_t_phone" [ngModelOptions]="{standalone:true}">
        </div>
  
        <hr class="shadow">
        <div class="custom-control custom-checkbox align-items-center d-flex mb-3">
          <input type="checkbox" class="custom-control-input" id="tos" [(ngModel)]="tosAccepted" [ngModelOptions]="{standalone:true}">
          <label class="custom-control-label" for="tos" ion-text [color]="(reqTOS) ? 'danger' : 'dark'">Dengan ini saya setuju syarat dan ketentuan layanan emergency service.</label>
        </div>
      
        <button class="btn btn-block  mt-4 mb-3 rounded" (click)="submitTowing()" ion-button color="primary">
          Request Now
        </button>
      </div>

      <ng-template #OrderSubmitedCall>
        <towing-list [moduleClass]="this"></towing-list>
      </ng-template>
    </ng-container>
  </div>
  
</ion-content>