<ion-content>

  <ng-container *ngIf="global.isLogin !== true; else MainContent">
    <div class="bg-default" padding style="height: 100%; width: 100%;">
      <login></login>
    </div>
  </ng-container>

  <ng-template #MainContent>
    <super-tabs
      tabsPlacement="top"
      toolbarBackground="white"
      toolbarColor="dark"
      indicatorColor="danger"
      [config]="{ sideMenu: 'both' }">
      <super-tab
        *ngFor="let page of pages"
        [root]="page.pageName"
        [title]="page.title">
      </super-tab>
    </super-tabs>
  </ng-template>
</ion-content>
 