<ion-header>
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header ml-2"></i>
			</button>
		</ion-buttons>
		<ion-title *ngIf="page == 'detail'">Detail Products</ion-title>
		<ion-title *ngIf="page == 'checkout'">Checkout</ion-title>
    <ion-title *ngIf="page == 'done'">Selesai</ion-title>
    <ion-buttons right>
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-share-alt font-header mr-2"></i>
			</button>
		</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- Detail Container -->
  <ng-container *ngIf="page == 'detail'; else Checkout">
    <img src="../../../assets/image/product-1.png" class="w-100 mb-3 overlay-imgg">
    
    <div padding>
      <div class="card mb-4 border-0 shadow card-margintop-90">
        <div class="card-body text-center">
            <h5 class=" mt-1 mb-3 text-dark font-weight-bold">Toyota Avanza 123</h5>
            <h6 class="my-0 text-muted">Rp400.000.000</h6>
        </div>
      </div>

      <div class="card shadow border-0">
        <div class="card-body">
          <p class="mb-3 mt-0">
            <b>Overview</b>
          </p>
          <p class=" mb-0">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem ex natus magnam, voluptates nulla facilis aliquam est at sed commodi reprehenderit modi veritatis quaerat quo architecto. Eligendi atque vel itaque!
          </p>
        </div>
      </div>

      <div class="card  border-0 shadow bg-white w-100">
        <div class="card-body">
          <p class="mb-3 mt-0">
            <b>Spesifikasi</b>
          </p>
          <div class="justify-content-between d-flex pb-3">
            <p class="text-secondary my-0 ">Ban</p>
            <p class="text-dark my-0">10kg</p>
          </div>
          <div class="justify-content-between d-flex pb-0">
            <p class="text-secondary my-0 ">Ban</p>
            <p class="text-dark my-0">10kg</p>
          </div>
        </div>
      </div>
      <div class="card shadow border-0 mb-4">
        <div class="d-flex align-items-center p-3 justify-content-between">
          <p class="ml-2 mr-4 my-0">
            <b>Avaliable on</b>
          </p>
          <div>
            <img class="ml-4" src="https://seeklogo.com/images/T/tokopedia-logo-5340B636F6-seeklogo.com.png" height="18">
            <img class="ml-4" src="https://1.bp.blogspot.com/-UJYEPbPEiRk/XbbQexMsBtI/AAAAAAAABHA/8O7pcTOc1H8o5inCfi-leQLIc70V9MiUQCEwYBhgL/s1600/Shopee%2Blogo.png" height="18">
            <img class="ml-4 mr-3" src="https://pbs.twimg.com/profile_images/1243750264282042368/tpSNcavK_400x400.jpg" height="18">
          </div>
        </div>
      </div>

      <h6 class="subtitle ">Galery</h6>
      <ion-slides class="h-auto w-100">
        <ion-slide  >
          <img src="../../../assets/image/product-1.png" alt="">
        </ion-slide>
        <ion-slide  >
          <img src="../../../assets/image/product-2.png" alt="">
        </ion-slide>
      </ion-slides>

      <button type="button" class="btn btn-rounded btn-lg btn-block mt-5" ion-button color="primary" round outline (click)="addToCart()">Masukan Keranjang</button>
      <button type="button" class="btn btn-rounded btn-lg btn-block mt-1" ion-button color="primary" round (click)="directBuy()">Beli Langsung</button>
    </div>
    
  </ng-container>

  <!-- Checkout Container -->
  <ng-template #Checkout >
    <ng-container *ngIf="page == 'checkout'; else Done" >
      <div padding>
        <div class="border-top card shadow-sm bg-white">
          <div class="card-body d-flex align-items-center">
            <div>
              <span class="btn btn-danger button-rounded-26">
              <i class="bx bx-phone-call md-18 text-mute"></i>
              </span>
            </div>
            <div class="ml-4 w-100">
              <div class="d-flex justify-content-between align-items-center ">
              <h5 class="text-dark mb-0 h6 mt-0">Jan 20, 2020 </h5>
              <p class="text-right small text text-md text-md-primary" color="primary" ion-text="">ID 32425876</p>
              </div>
              <h6 class="mb-1 mt-0">Xenia ABC KLO</h6>
              <p class="mb-0 small">
              Emergency Service
              </p>
            </div>
          </div>
        </div>
        <div class=" border-0  w-100">
          <div class="card-body">
            <div class="pb-3">
              <p class="text-secondary my-0 small">Nama Lengkap</p>
              <p class="text-dark my-0">
                Rara Kusuma
              </p>
            </div>
            <div class="pb-3">
              <p class="text-secondary my-0 small">Phone Number</p>
              <p class="text-dark my-0">
                083268273
              </p>
            </div>
            <div class="pb-3">
              <p class="text-secondary my-0 small">Keluhan</p>
              <p class="text-dark my-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit
              </p>
            </div>
            <div class="pb-2">
              <p class="text-secondary my-0 small">Alamat</p>
              <p class="text-dark my-0">
                Jl. Lorem ipsum dolor sit amet consectetur adipisicing elit
              </p>
            </div>
          </div>
        </div>
        <div class="card mb-4 border-0 shadow bg-white w-100">
        <div class="card-body">
          <p class="mb-3 mt-0">
            <b>Services</b>
          </p>
          <div class="justify-content-between d-flex pb-3">
          <p class="text-secondary my-0 small">Ganti Ban</p>
          <p class="text-dark my-0">Rp400.000.000</p>
          </div>
          <div class="justify-content-between d-flex pb-3">
          <p class="text-secondary my-0 small">Ganti Oli</p>
          <p class="text-dark  my-0">Rp400.000.000</p>
          </div>
          <div class="justify-content-between d-flex border-top-dashed pt-3">
          <p class="text-dark my-0">Total</p>
          <h6 class=" my-0" ion-text color="primary">Rp800.000.000</h6>
          </div>
        </div>
        </div>
        <hr class="shadow">
        <div class="border-top card shadow-sm ">
          <div class="card-body">
            <p class="mb-1 mt-0">
              <b>Metode Pembayaran</b>
            </p>
            <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1">
                <option disabled>BCA</option>
                <option>AVANSA</option>
                <option>ALPHARD</option>
                <option>AGYA</option>
              </select>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-rounded btn-block mt-4" ion-button color="primary" round (click)="makeOrder()">Proses Pesanan</button>
      </div>
    </ng-container>
  </ng-template>

  <!-- Done Container -->
  <ng-template #Done>
    <ng-container *ngIf="page == 'done';">
      <div padding>
        <div class="card mb-4 border-0 shadow py-4">
          <div class="card-body text-center">
            <img src="../../assets/image/check.svg" style="height: 55px;" class="mb-3">
            <p class="text-secondary my-1">Menunggu Pembayaran Booking Fee</p>
            <h4 class="mb-0 mt-1">Silahkan Melakukan Pembayaran Booking Fee</h4>
            <p class="mb-0 mt-1" style="font-size: 16px;">Klik Tombol Dibawah Untuk Melakukan Pembayaran Booking Fee</p>
            <br>
            <i>
              <p class="mb-0 mt-1">Batas Pembayaran Booking Fee Max 1 Jam, Jika Melebihi Batas Yang Ditentukan Maka Anda Harus Melakukan Order Ulang.</p>
              <p class="mb-0 mt-1">Booking Fee akan hangus apa bila Anda tidak datang 30 menit dari waktu yang telah anda jadwalkan</p>
            </i>
          </div>
        </div>
        <button type="button" class="btn btn-block btn-rounded mt-2"  (click)="orderDetail()" round ion-button color="light">Bayar Booking Fee</button>
      </div>
      
    </ng-container>
  </ng-template>

</ion-content>