<ion-header>
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header"></i>
			</button>
		</ion-buttons>
    <ion-title>Detail Kendaraan</ion-title>
    <ion-buttons right>
			<button ion-button (click)="edit(data_uuid)" clear color="white" icon-only [hidden]="errorRequest == true">
				<i class="bx bx-edit-alt font-header mr-2"></i>
      </button>
      <button ion-button (click)="deleteCar(data_uuid)" clear color="white" icon-only [hidden]="errorRequest == true">
				<i class='bx bxs-trash font-header mr-2'></i>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content >

  <ng-container *ngIf="spinner; else MainContent">
    <div class="text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-container>
  <ng-template #MainContent>
    <ng-container *ngIf="errorRequest; else Detail">
      <error-500 [retry_id]="'detail_cars'"></error-500>
    </ng-container>
    <ng-template #Detail>
      <div class="w-100">
        <div class="avatar avatar-100 mt-5 no-shadow mb-3 border-top bg-light align-items-center d-flex">
          <i class="bx bxs-camera-plus m-auto h1 " color="dark" ion-text *ngIf="content.cst_crs_photo == null && loadingImage == false" (click)="addImage()"></i>
          <div class="spinner-center">
            <ion-spinner name="crescent" *ngIf="loadingImage == true"></ion-spinner>
          </div>
          <img *ngIf="content.cst_crs_photo !== null && loadingImage == false" [src]="global.config('urlApi')+content.cst_crs_photo" (click)="viewOption()">
        </div>
        <div class="text-center">
          <small class="text-muted" *ngIf="content.cst_crs_photo == null">(Tekan gambar kamera untuk menambahkan gambar)</small>
        </div>
      </div>
      
      <div padding>
        <div class="card mb-4 border-0 shadow ">
          <div class="card-body text-center">
              <h5 class=" mt-1 mb-2 text-dark font-weight-bold">{{ content.crs_brand_name }}</h5>
              <p class="my-0 text-muted">{{ content.crs_model_name }}</p>
              <h6 class="my-0 text-muted">{{ content.cst_crs_police_number }}</h6>
          </div>
        </div>
        <div class="card mb-4 mt-1 border-0 shadow bg-white w-100">
          <div class="card-body">
            <p class="mb-4 mt-0">
              <b>Spesifikasi</b>
            </p>
            <div *ngFor="let fld of fields">
              <div class="justify-content-between d-flex pb-3">
                <p class="text-secondary my-0 small">{{ fld.cst_crs_f_label }}</p>
                <ng-container *ngIf="fld.cst_crs_f_name == 'crs_brand_id'; else Model">
                  <p class="text-dark my-0">{{ content.crs_brand_name }}</p>
                </ng-container>
                <ng-template #Model>
                  <ng-container *ngIf="fld.cst_crs_f_name == 'crs_model_id'; else Default">
                    <p class="text-dark my-0">{{ content.crs_model_name }} {{ content.crs_model_cc }} {{ content.crs_model_transmission }} {{ content.crs_model_type }}</p>
                  </ng-container>
                </ng-template>
                <ng-template #Default>
                  <p class="text-dark my-0">{{ content[fld.cst_crs_f_name] }}</p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>

</ion-content>
