<ion-header class="shadow" *ngIf="footerTab == 'home'">
  <ion-navbar color="primary">
    <ion-title>
      <img src="../../assets/image/logo-chevy.png" height="25px">
      <span ion-text >
        Chevycare
      </span>
    </ion-title>
    <ion-buttons end >
      <!-- <button ion-button icon-only class="" (click)="aboutUs()" showWhen="android">
        <i class="bx bx-info-circle font-header"></i>
      </button> -->
      <button ion-button icon-only *ngIf="global.isLogin" (click)="notification()" class="mr-2">
        <span class="badge badge-light badge-cart">{{ countNotif }}</span>
        <i class="bx bx-bell font-header"></i>
      </button>
      <!-- <button ion-button icon-only class="mr-3" (click)="cart()">
        <span class="badge badge-light badge-cart">0</span>
        <i class="bx bx-cart font-header"></i>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-header class="shadow" *ngIf="globalProvider.isLogin == true && footerTab == 'activity'">
  <ion-navbar color="primary">
    <ion-title>
      Activity
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-header class="shadow" *ngIf="globalProvider.isLogin == true && footerTab == 'profile'">
  <ion-navbar color="primary">
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons end>
			<button ion-button clear color="white" icon-only (click)="editProfile()">
        <i class="bx bx-edit font-header mr-2"></i>
			</button>
		</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-header class="shadow" *ngIf="globalProvider.isLogin !== true && footerTab !== 'home'">
  <ion-navbar color="primary">
    <ion-title>
      {{ (globalProvider.isForgot) ? 'Lupa Password' : "Login" }}
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content [style.opacity]="(globalProvider.openContactUs || globalProvider.openMaps) ? 0 : ''">
  <ion-tabs color="" class="footer-tab">
    <ion-tab tabIcon="home"  [root]="tabHome" tabTitle="Home" (ionSelect)="setTab('home')"></ion-tab>
    <ion-tab tabIcon="paper" [root]="tabEmergency"  tabTitle="Activity" (ionSelect)="setTab('activity')"></ion-tab>
    <ion-tab tabIcon="person" [root]="tabProfile"  tabTitle="Profile" (ionSelect)="setTab('profile')"></ion-tab>
  </ion-tabs>
</ion-content>
