<div padding>
  <div class="card p-4 shadow-sm mb-4" *ngFor="let towing of towingList">
    <h5 class="my-1">{{ towing.name }}</h5>
    <hr class="shadow">
    <div class="media  align-items-center d-flex">
      <span class="mr-4">
        <i class="bx bx-phone-call h2" ion-text color="primary" ></i>
      </span>
      <div class="media-body">
        <h6 class="my-0">Telepon</h6>
        <p>
          {{ formatPhone(towing.number) }}
        </p>
      </div>
    </div>
    <div class="media  align-items-center d-flex">
      <span class="mr-4">
        <i class="bx bx-map h2" ion-text color="primary" ></i>
      </span>
      <div class="media-body">
        <h6 class="my-0">Area</h6>
        <p>
          {{ towing.area }}
        </p>
      </div>
    </div>
    <hr class="shadow">
    <button class="btn btn-primary" (click)="callTowing({towing_name : towing.name, towing_number : towing.number})">Hubungi Sekarang</button>
  </div>
</div>