<div class="d-flex justify-content-center h-100" padding> 
  <div class="text-center card-body m-auto">
    <div class="avatar avatar-60 no-shadow mb-2 border-top align-items-center d-flex" *ngIf="retry_id !== 'vehicle' && retry_id !== 'transaction'">
      <i class='bx bx-wifi-off' ></i>
    </div>
    <h3 class="{{ (retry_id !== 'vehicle' && retry_id !== 'transaction') ? 'mt-5' : ''}} mb-3 font-weight-normal">Oops...</h3>
    <p class="text-secondary text-muted p-0" *ngIf="retry_id !== 'vehicle' && retry_id !== 'transaction'">Sepertinya jaringan anda terputus.</p>
    <small class="text-muted">No Network</small>
    <div class="text-center">
      <button class="btn btn-outline-primary btn-sm w-50" (click)="retry(retry_id)" *ngIf="retry_id !== undefined">
        Coba Lagi
      </button>
    </div>
  </div>
</div>