<ion-content >

  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="global.isLogin == true">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      pullingText="Tarik untuk menyegarkan"
      refreshingSpinner="null"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="global.isLogin !== true; else MainContent">
    <div class="bg-default" padding style="height: 100%; width: 100%;">
      <login></login>
    </div>
  </ng-container>
  
  <ng-template #MainContent>
    <div padding>
      <ng-container *ngIf="spinnerProfile; else Profile">
        <div class="card pt-4 pb-3 shadow mb-0">
          <div class="text-center">
            <ion-spinner name="crescent"></ion-spinner>
          </div>
        </div>
      </ng-container>
      <ng-template #Profile>
        <ng-container *ngIf="errorRequestProfile; else LoadedProfile">
          <div class="card pt-4 pb-3 shadow mb-0">
            <error-500 [retry_id]="'profile'"></error-500>
          </div>
        </ng-container>
        <ng-template #LoadedProfile>
          <div class="card pt-4 pb-3 shadow mb-0">
            <div class="avatar avatar-100 mt-5 no-shadow mb-3 border-top bg-light align-items-center d-flex">
              <i class="bx bxs-camera-plus m-auto h1 " color="dark" ion-text *ngIf="myProfile.usr_photo == null && loadingImage == false" (click)="addImage()" style="padding:32px"></i>
              <div class="spinner-center">
                <ion-spinner name="crescent" *ngIf="loadingImage == true"></ion-spinner>
              </div>
              <img *ngIf="myProfile.usr_photo !== null && loadingImage == false" [src]="global.config('urlApi')+myProfile.usr_photo" (click)="viewOption()">
            </div>
            <div class="text-center">
              <small class="text-muted" *ngIf="myProfile.usr_photo == null">(Tekan gambar kamera untuk menambahkan gambar)</small>
            </div>
            <h3 class="mb-1 text-center" ion-text color="primary">{{ myProfile.usr_fullname }}</h3>
            <!-- <p class="text-secondary text-center ">ammy@gmail.com</p> -->
            <hr class="shadow">
            <dl class="row mb-0 mx-2">
              <dt class="col-3 text-secondary font-weight-normal">Email</dt>
              <dd class="col-9 font-ellipse">{{ myProfile.usr_email }}</dd>
              <dt class="col-3 text-secondary font-weight-normal">No.Hp</dt>
              <dd class="col-9 font-ellipse">{{ myProfile.usr_phone }}</dd>
              <dt class="col-3 text-secondary font-weight-normal">Alamat</dt>
              <dd class="col-9 font-ellipse">{{ myProfile.usr_address }}</dd>
            </dl>
          </div>
          <hr class="shadow mt-4 mb-4">
          <button type="button" ion-button color="primary" round outline class="btn btn-rounded btn-block mb-5 " (click)="editPassword()">Ganti Kata Sandi</button>
        </ng-template>
      </ng-template>
      
      <h6 class="subtitle">Kendaraan Saya</h6>
      <div>
        <ng-container *ngIf="spinnerVehicle; else Vehicle">
          <div class="card pt-4 pb-3 shadow mb-0">
            <div class="text-center">
              <ion-spinner name="crescent"></ion-spinner>
            </div>
          </div>
        </ng-container>
        <ng-template #Vehicle>
          <ng-container *ngIf="errorRequestVehicle; else LoadedVehicle">
            <div class="card pb-3 shadow mb-0">
              <error-500 [retry_id]="'vehicle'"></error-500>
            </div>
          </ng-container>
          <ng-template #LoadedVehicle>
            <div class="slider-vehicle d-flex align-items-center">
              <i class='bx bx-left-arrow-circle navigation-slider-left' (click)="slidePrev()"></i>
        
              <ion-slides class="h-auto mt-3"> 
                <ng-container *ngIf="myVehicle.length > 0;else NoVehicle">
                  <ion-slide class="" *ngFor="let vehicle of myVehicle">
                    <div class="card-choose-car w-100" (click)="detailCars(vehicle.cst_crs_uuid)">
                        <div class="card shadow-sm border-0 mb-3 mt-3">
                          <div class="card-body">
                            <div class="media align-items-center d-flex">
                              <figure class="avatar avatar-60 mr-3">
                                <img [src]="(vehicle.cst_crs_photo !== null) ? global.config('urlApi')+vehicle.cst_crs_photo : './../../assets/image/icon-car/3.png'" class="icon-mobile">
                              </figure>
                              <div class="media-body text-left">
                                <h5 class="mb-0 mt-0">{{ vehicle.crs_brand_name }} {{ vehicle.crs_model_name }}</h5>
                                <p class="text-dark mb-0 d-block mt-0">{{ vehicle.cst_crs_police_number }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div> 
                  </ion-slide>
      
                  <!-- ADD -->
                  <ion-slide class="m-auto">
                    <div class="card border-0 add-mycar shadow-sm border-dashed" (click)="addVehicle()">
                      <div class="card-body text-center d-flex align-items-center">
                        <i class="bx bx-plus m-auto h" ion-text color="primary"></i>
                      </div>
                    </div> 
                  </ion-slide>
                </ng-container>
                <ng-template #NoVehicle>
                  <ion-slide class="m-auto">
                    <div class="card border-0 add-mycar shadow-sm border-dashed" (click)="addVehicle()">
                      <div class="card-body text-center d-flex align-items-center">
                        <i class="bx bx-plus m-auto h" ion-text color="primary"></i>
                      </div>
                    </div> 
                  </ion-slide>
                </ng-template>
                
              </ion-slides>
        
              <i class='bx bx-right-arrow-circle navigation-slider-right' (click)="slideNext()"></i>
            </div>
          </ng-template>
        </ng-template>
        
      </div>
      
      <h6 class="subtitle">Riwayat Layanan</h6>
      <ng-container *ngIf="spinnerLastTrx == true; else LastTrx">
        <div class="card shadow border-0 px-2 mb-3">
          <div class="card-body">
            <div class="text-center">
              <ion-spinner name="crescent"></ion-spinner>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #LastTrx>
        <ng-container *ngIf="errorRequestLastTrx; else LoadedTrx">
          <div class="card pb-3 shadow mb-0">
            <error-500 [retry_id]="'transaction'"></error-500>
          </div>
        </ng-container>
        <ng-template #LoadedTrx>
          <ng-container *ngIf="lastTransaction.length > 0;else NoTrx";>
            <div class="card shadow border-0 px-2 mb-3" *ngFor="let list of lastTransaction">
              <div class="card-body" (click)="detailSrv(list.srv_t_uuid)">
                <h5 class="text-dark mb-0 h6 d-block mt-0">{{ list.srv_t_date }} - {{ list.srv_t_code }} </h5>
                <h5 class="mb-0 mt-0">{{ list.crs_brand_name }} {{ list.crs_model_name }}</h5>
                <p class="mb-0 small">
                  {{ list.srv_t_cat_name }}
                  <span class="badge badge-secondary badge-status-service p-2"><span>{{ list.srv_t_status_name }}</span></span>
                </p>
              </div>
            </div>
          </ng-container>
          <ng-template #NoTrx>
            <div class="card shadow border-0 px-2 mb-3">
              <div class="card-body">
                <h5 class="text-dark mb-0 h6 d-block mt-0 text-center">Anda Tidak Memiliki Transaksi </h5>
              </div>
            </div>
          </ng-template>
          
        </ng-template>
        
      </ng-template>
      
      <hr class="shadow mt-5 mb-4">
  
      <button class="btn btn-block btn-lg btn-rounded btn-danger btn-sm shadow" (click)="logout()" *ngIf="global.isLogin">
        Log Out
      </button>
  
    </div>
  </ng-template>
  
  <div class="text-muted m-3 text-center" *ngIf="global.isLogin">
    <hr class="shadow mt-5 mb-4">
    <small>v{{ global.config('versionApp') }}({{ global.config('build') }})</small>
  </div>

</ion-content>
