<ion-header>
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header"></i>
			</button>
		</ion-buttons>
		<ion-title>Detail Layanan</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<p class="mt-0 mb-4 text-center">
		Selesai pada <span ion-text color="primary"> Jun 20, 2020 11:00AM</span>
	</p>
	<div class="border-top card shadow-sm bg-white">
		<div class="card-body d-flex align-items-center">
			<div>
			  <span class="btn btn-danger button-rounded-26">
				<i class="bx bx-phone-call md-18 text-mute"></i>
			  </span>
			</div>
			<div class="ml-4 w-100">
			  <div class="d-flex justify-content-between align-items-center ">
				<h5 class="text-dark mb-0 h6 mt-0">Jan 20, 2020 </h5>
				<p class="text-right small text text-md text-md-primary" color="primary" ion-text="">ID 32425876</p>
			  </div>
			  <h6 class="mb-1 mt-0">Xenia ABC KLO</h6>
			  <p class="mb-0 small">
				Emergency Service
			  </p>
			</div>
		</div>
	</div>
	<div class=" border-0  w-100">
		<div class="card-body">
			<div class="pb-3">
				<p class="text-secondary my-0 small">Nama Lengkap</p>
				<p class="text-dark my-0">
					Rara Kusuma
				</p>
			</div>
			<div class="pb-3">
				<p class="text-secondary my-0 small">Phone Number</p>
				<p class="text-dark my-0">
					083268273
				</p>
			</div>
			<div class="pb-3">
				<p class="text-secondary my-0 small">Keluhan</p>
				<p class="text-dark my-0">
					Lorem ipsum dolor sit amet consectetur adipisicing elit
				</p>
			</div>
			<div class="pb-2">
				<p class="text-secondary my-0 small">Alamat</p>
				<p class="text-dark my-0">
					Jl. Lorem ipsum dolor sit amet consectetur adipisicing elit
				</p>
			</div>
		</div>
	</div>
	
	<div class="card mb-4 border-0 shadow bg-white w-100">
	<div class="card-body">
		<p class="mb-3 mt-0">
			<b>Services</b>
		</p>
		<div class="justify-content-between d-flex pb-3">
		<p class="text-secondary my-0 small">Ganti Ban</p>
		<p class="text-dark my-0">Rp400.000.000</p>
		</div>
		<div class="justify-content-between d-flex pb-3">
		<p class="text-secondary my-0 small">Ganti Oli</p>
		<p class="text-dark  my-0">Rp400.000.000</p>
		</div>
		<div class="justify-content-between d-flex border-top-dashed pt-3">
		<p class="text-dark my-0">Total</p>
		<h6 class=" my-0" ion-text color="primary">Rp800.000.000</h6>
		</div>
	</div>
	</div>

	<hr class="shadow">
	<div class="border-top card shadow-sm ">
		<div class="card-body">
			<p class="mb-1 mt-0">
				<b>Metode Pembayaran</b>
			</p>
			<p class="mb-0 small">
			BCA Debit
			</p>
		</div>
	</div>

	<hr class="shadow mt-4">

	<div class="border-top card shadow mb-4">
		<div class="card-body">
			<p class="mb-1 mt-0">
				<b>Tracking</b>
			</p>
			<ul class="widget-timeline mb-0 mt-1">
				<li class="timeline-items timeline-icon-primary active">
				  <h6 class="timeline-title my-0">Pendding</h6>
				  <p class="timeline-text small mt-1">Jan 20, 2020 11:00AM</p>
				</li>
				<li class="timeline-items timeline-icon-secondary active">
					<h6 class="timeline-title my-0">On Progress</h6>
					<p class="timeline-text small mt-1">Jan 20, 2020 11:30AM</p>
				</li>
				<li class="timeline-items timeline-muted timeline-icon-primary">
					<h6 class="timeline-title my-0">Complete</h6>
					<!-- <p class="timeline-text mt-1">2 hours ago</p> -->
				</li>
				
			</ul>
		</div>
	</div>

	<button class="btn btn-block btn-lg mb-2" ion-button color="primary" round>
		Hubungi Kami
	</button>
	<button class="btn btn-block btn-lg mb-2" ion-button outline color="primary" round>
		Lihat Produk Lain
	</button>

</ion-content>