<ion-header>
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header ml-2"></i>
			</button>
		</ion-buttons>
		<ion-title>Detail Berita</ion-title>
		<!-- <ion-buttons right>
			<button ion-button clear color="white" icon-only>
				<i class="bx bx-share-alt font-header mr-2"></i>
			</button>
		</ion-buttons> -->
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

	<ng-container *ngIf="spinner; else MainContent">
    <div class="text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
	</ng-container>
	
	<ng-template #MainContent>
    <ng-container *ngIf="errorGetData; else LoadedBlog">
      <div class="d-flex justify-content-center h-100"> 
				<div class="text-center card-body m-auto">
					<div class="avatar avatar-60 no-shadow mb-2 border-top align-items-center d-flex">
						<i class='bx bxs-car-mechanic m-auto h1' ion-text color="primary"></i>
					</div>
					<h3 class="mt-5 mb-3 font-weight-normal">Terjadi Kesalahan</h3>
					<p class="text-secondary text-muted">Mohon maaf, terjadi kesalahan saat mengambil detail banner.</p>
					<button class="btn btn-outline-primary btn-sm w-50" (click)="getDetail()">
						Muat Ulang
					</button>
				</div>
			</div>
		</ng-container>

		<ng-template #LoadedBlog>
			<div class="text-center mb-4">
				<h3 class="mb-2">{{ content.blog_title }}</h3>
				<p class="text-secondary small">{{ global.convertDateHM(content.created_at) }}</p>
			</div>
		
			<div class="mb-4">
				<img [src]="global.config('urlApi') + content.blog_image" class="w-100 mx-auto mb-4">
				<p [innerHtml]="content.blog_description"></p>
			</div>
		</ng-template>
	</ng-template>
	
</ion-content>