<ion-header>
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header"></i>
			</button>
		</ion-buttons>
		<ion-title>Booking Fee</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding class="bg-primary">
  <ng-container *ngIf="page == 'choose'; else processPayment">

    <div class="card mb-4 border-0 shadow bg-light w-100">
      <div class="card-body">
        <div class="justify-content-between d-flex ">
        <p class="text-dark my-0">Booking Fee</p>
        <h6 class=" my-0" ion-text color="primary">Rp{{ global.currencyFormat(dataService.srv_t_dp) }}</h6>
        </div>
      </div>
    </div>
    
    <div class="card mb-4 border-0 shadow bg-white w-100">
      <div class="card-body" style="overflow: hidden;">
        <h5 class="mt-0 label-accordion p-0 m-0" (click)="expand.detail_service = !expand.detail_service">
          <b>Detail Servis</b>
          <i class='bx bxs-down-arrow accordion-icon' *ngIf='!expand.detail_service' ></i>
          <i class='bx bxs-up-arrow accordion-icon' *ngIf='expand.detail_service' ></i>
        </h5>
        <div class="wrapperku" *ngIf="expand.detail_service">
          <div class="" *ngIf="serviceRegulerList.length > 0">
            <div class="border-top-dashed pt-3 pb-2">
              <h6 class="mb-3 mt-0" style="background: #eee; padding: 5px 10px;">
                Servis Reguler
              </h6>
              <div *ngFor="let srv of serviceRegulerList">
                <div class="justify-content-between d-flex pb-3">
                  <p class="text-secondary my-0 small">{{ srv.srv_name }}</p>
                  <p class="text-dark my-0">Rp{{ global.currencyFormat(srv.srv_act_price) }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="" *ngIf="serviceBulkList.length > 0">
            <div class="border-top-dashed pt-3 pb-2">
              <h6 class="mb-3 mt-0" style="background: #eee; padding: 5px 10px;">
                Servis Paket
              </h6>
              <div *ngFor="let bulk of serviceBulkList">
                <div class="justify-content-between d-flex pb-3">
                  <p class="text-secondary my-0 small">{{ bulk.srv_b_name }}</p>
                  <p class="text-dark my-0">Rp{{ global.currencyFormat(bulk.srv_b_act_price) }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="" *ngIf="ProductList.length > 0">
            <div class="border-top-dashed pt-3 pb-2">
              <h6 class="mb-3 mt-0" style="background: #eee; padding: 5px 10px;">
                Produk
              </h6>
              <div *ngFor="let produk of ProductList">
                <div class="justify-content-between d-flex pb-3">
                  <p class="text-secondary my-0 small">{{ produk.prd_name }}</p>
                  <p class="text-dark my-0">Rp{{ global.currencyFormat(produk.prd_act_price) }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="justify-content-between d-flex border-top-dashed pt-3">
            <p class="text-dark my-0">Total<br><small class="text-muted">(Harga Hanya Estimasi)</small></p>
            <h6 class=" my-0 font-weight-bold">Rp{{ global.currencyFormat(dataService.srv_t_actual_price) }}</h6>
          </div>
        </div>
      </div>
    </div>
  
    <div class="mt-4 div-termcondi card" style="margin-bottom: 10px;">
      <div class="card-body" style="overflow: hidden;">
        <h6 class="label-accordion p-0 m-0 text-center" (click)="expand.tos = !expand.tos">
          Term &amp; Conditions
          <i class='bx bxs-down-arrow accordion-icon' *ngIf='!expand.tos' ></i>
          <i class='bx bxs-up-arrow accordion-icon' *ngIf='expand.tos' ></i>
        </h6>
        <ul *ngIf="expand.tos" style="padding-inline-start: 17px; padding-top: 10px;">
          <li>Minimal Pembayaran Booking Fee sebesar Rp{{ global.currencyFormat(dataService.srv_t_dp) }} dan pesanan akan diproses setelah pembayaran Booking Fee dilakukan</li>
          <li>Total tagihan yang harus Anda bayarkan di bengkel akan di kurangi otomatis dari biaya booking fee.</li>
          <li>Booking fee akan hangus apabila Anda datang lebih dari 30 menit, dari jadwal orderan Anda</li>
          <li>Jadwal Booking Anda akan batal otomatis, bila Anda belum melakukan pembayaran booking fee maksimal 60 menit setelah Anda melakukan order booking service.</li>
        </ul>
        <p></p>
      </div>
    </div>
    
    <div class="mt-4 card" style="margin-bottom: 10px;">
      <div class="card-body" style="overflow: hidden;">
        <h6 class="text-center p-0 m-0 label-accordion" (click)="expand.payment_list = !expand.payment_list">
          Pilih Pembayaran
          <i class='bx bxs-down-arrow accordion-icon' *ngIf='!expand.payment_list' ></i>
          <i class='bx bxs-up-arrow accordion-icon' *ngIf='expand.payment_list' ></i>
        </h6>
    
        <div *ngIf="expand.payment_list">
          <h6 class="my-1 mx-1 text-dark">E-Wallet</h6>
          <!-- <ul class="list-group list-group-flush mb-3 ml-4" >
            <li class="list-group-item list-group-item-action px-1 ripple" (click)="pay('gopay')">
              <div class="media d-flex align-items-center">
                <img class="mr-2" width="25%" src="../../assets/icon/gopay.png">
                <div class="media-body text-truncate">
                  <h6 class="my-0" ion-text>
                    Gopay / QRIS
                  </h6>
                </div>
                <div class="ml-auto d-flex align-items-center">
                  <i class='bx bx-chevron-right mr-1' ></i>
                </div>
              </div>
            </li>
          </ul> -->
          <a class="list" (click)="pay('gopay')">
                <div class="list-payment-logo">
                    <span class="gopay-qris sprite"></span>
                </div>
                <div class="list-content">
                    <div class="list-title text-actionable-bold">GoPay/Other e-Wallets</div>
                </div>
                <div class="sprite list-next"></div>
            </a>
          <h6 class="my-1 mx-1 text-dark">Transfer Bank</h6>
          <!-- <ul class="list-group list-group-flush mb-3 ml-4" >
            <li class="list-group-item list-group-item-action px-1 ripple" (click)="pay('bank_transfer','bni')">
              <div class="media d-flex align-items-center">
                <img class="mr-2" width="25%" src="../../assets/icon/bni.png">
                <div class="media-body text-truncate">
                  <h6 class="my-0" ion-text>
                    Bank BNI
                  </h6>
                </div>
                <div class="ml-auto d-flex align-items-center">
                  <i class='bx bx-chevron-right mr-1' ></i>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action px-1 ripple" (click)="pay('permata','permata')">
              <div class="media d-flex align-items-center">
                <img class="mr-2" width="25%" src="../../assets/icon/permata.png">
                <div class="media-body text-truncate">
                  <h6 class="my-0" ion-text>
                    Bank Permata
                  </h6>
                </div>
                <div class="ml-auto d-flex align-items-center">
                  <i class='bx bx-chevron-right mr-1' ></i>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action px-1 ripple" (click)="pay('other_va','other_va')">
              <div class="media d-flex align-items-center">
                <i class="ri-bank-card-fill"></i>
                <div class="media-body text-truncate">
                  <h6 class="my-0" ion-text>
                    Bank Lain
                  </h6>
                </div>
                <div class="ml-auto d-flex align-items-center">
                  <i class='bx bx-chevron-right mr-1' ></i>
                </div>
              </div>
            </li>
          </ul> -->
          <div>
            <!-- <a class="list"  (click)="pay('bank_transfer','bni')">
                <div class="list-payment-logo">
                    <span class="mandiri sprite"></span>
                </div>
                <div class="list-content">
                    <div class="list-title text-actionable-bold">Mandiri</div>
                </div>
                <div class="sprite list-next"></div>
            </a> -->
            <a class="list"  (click)="pay('bank_transfer','bni')">
                <div class="list-payment-logo">
                    <span class="bni sprite"></span>
                </div>
                <div class="list-content">
                    <div class="list-title text-actionable-bold">BNI</div>
                </div>
                <div class="sprite list-next"></div>
            </a>
            <a class="list"  (click)="pay('permata','permata')">
                <div class="list-payment-logo">
                    <span class="permata sprite"></span>
                </div>
                <div class="list-content">
                    <div class="list-title text-actionable-bold">Permata</div>
                </div>
                <div class="sprite list-next"></div>
            </a>
    
            <a class="list"  (click)="pay('permata','permata')">
                <div class="list-payment-logo">
                    <span class="bank-transfer sprite"></span>
                </div>
                <div class="list-content">
                    <div class="list-title text-actionable-bold">Other Bank</div>
                </div>
                <div class="sprite list-next"></div>
            </a>
        </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #processPayment>
    <ng-container *ngIf="page == 'processPayment' ; else error">
      <div class="bg-blue-chevicare h-100">
        <div class="align-items-center d-flex px-4 card-empty h-100">
          <div class="text-center m-auto">
            <img [src]="(showQRImage) ? QRUrl : (QRUrl == undefined || QRUrl == '') ?'../../assets/icon/icon-payment-chevicaree.png' : '../../assets/icon/icon-payment-chevicaree.png'">
            <h4 class="mt-3 text-white">Request Pembayaran Diterima</h4>
            <p class="text-white font-medium-4">Silahkan pilih metode pembayaran dibawah</p>
      
            <div class="mt-3">
              <button class="btn btn-block shadow mb-1 btn-open-qr py-1 btn-lg text-white" (click)="showQR()">
                {{ (showQRImage) ? 'Hide ' : 'Show ' }}QR Code
               </button>
               <br>
               <button class="btn btn-block shadow btn-open-gojek py-1  btn-lg" (click)="openGojek()">
                 Buka aplikasi Gojek
               </button>
            </div>
          </div>
        </div>
      </div> 
    </ng-container>
  </ng-template>

  <ng-template #error>
    <div>
      <error-500></error-500>
    </div>
  </ng-template>
  
</ion-content>
