<ion-content>
	<div class="text-center h-100 align-items-center d-flex">
		<div>
			<img src="assets/image/tokopedia.png" height="180px">
			<div class="p-4">
				<!-- <h2>Cek Toko Kami Di Tokopedia</h2> -->
				<p>
					Cek produk, spare part, dan merchandise lainnya di tokopedia kami.
        </p>
        <button class="btn btn-primary" (click)="openTokped()">Buka Situs</button>
			</div>
		</div>
	</div>
</ion-content>
