page-home {
  @media (max-height: 570px) {
    .iconmenu{font-size: 25px;}
    .titlemenu{font-size: 9px;font-weight: bold; margin-top: 5px;}
  }

  @media (min-height: 570px) {
    .iconmenu{font-size: 40px;}
    .titlemenu{font-size: 12px;font-weight: bold; margin-top: 15px;}
  }

}
