<ion-content>

  <ng-container *ngIf="page == 'register'; else home">
    <div class="bg-default" padding style="height: 100%; width: 100%;">
      <register></register>
    </div>
  </ng-container>

  <ng-template #home>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  
    <ion-slides class="mx-3 mt-3" style="height: 200px; width: 95% !important; " pager="true">
      <ng-container *ngIf="spinnerBanner == true;else ListBanner" >
        <div class="spinner-center">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
      </ng-container>
      <ng-template #ListBanner>
        <ng-container *ngIf="!errorGetBanner; else ErrorBanner" >
          <ng-container *ngIf="noSlider;else SliderBlog">
            <ion-slide class="br-30">
              <img src="../assets/image/bannerempty.jpg" alt="">
            </ion-slide>
          </ng-container>
          <ng-template #SliderBlog>
            <ion-slide class="br-30" *ngFor="let s of slider" (click)="(s.blog_uuid !== undefined) ? detailBanner(s.blog_uuid) : ''">
              <img [src]="(s.blog_image == null || s.blog_image == undefined) ? '../assets/image/bannerempty.jpg' : global.config('urlApi') + s.blog_image" alt="">
            </ion-slide>
          </ng-template>
        </ng-container>
  
        <ng-template #ErrorBanner>
          <div class="d-flex justify-content-center h-100"> 
            <div class="text-center card-body m-auto">
              <h3 class="mt-5 mb-3 font-weight-normal">Terjadi Kesalahan</h3>
              <p class="text-secondary text-muted">Mohon maaf, terjadi kesalahan saat mengambil banner.</p>
              <button class="btn btn-outline-primary btn-sm w-50" (click)="loadBanner()">
                Muat Ulang
              </button>
            </div>
          </div>
        </ng-template>
      </ng-template>
    </ion-slides>
  
    <div class="row my-5 mx-1">
      <div class="col-6 col-md-3">
          <div class="card border-0 shadow-light text-center mb-4" (click)="bookingService()">
              <div class="card-body position-relative">
                  <div class="btn-icon-home no-shadow  border-top align-items-center d-flex m-auto">
                    <i class="bx bx-wrench m-auto h1" color="light" ion-text></i>
                  </div>
                  <h6 class="text-default mb-1">Servis<br>Terjadwal</h6>
              </div>
          </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card border-0 shadow-light text-center mb-4" (click)="emergencyService()">
            <div class="card-body position-relative">
                <div class="btn-icon-home no-shadow  border-top align-items-center d-flex m-auto">
                  <i class="bx bx-map m-auto h1" color="light" ion-text></i>
                </div>
                <h6 class="text-default mb-1">Servis<br>Darurat</h6>
            </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card border-0 shadow-light text-center mb-4" (click)="products()">
            <div class="card-body position-relative">
                <div class="btn-icon-home no-shadow  border-top align-items-center d-flex m-auto">
                  <i class="bx bx-shopping-bag m-auto h1 " color="light" ion-text></i>
                </div>
                <h6 class="text-default mb-1">Produk</h6>
            </div>
        </div>
      </div>
      
      <div class="col-6 col-md-3">
        <div class="card border-0 shadow-light text-center mb-4" (click)="newsEvent()">
            <div class="card-body position-relative">
                <div class="btn-icon-home no-shadow  border-top align-items-center d-flex m-auto">
                  <i class="bx bx-news m-auto h1 " color="light" ion-text></i>
                </div>
                <h6 class="text-default mb-1">Berita</h6>
            </div>
        </div>
      </div>
  
      <div class="col-6 col-md-3">
        <div class="card border-0 shadow-light text-center mb-4" (click)="promo()">
            <div class="card-body position-relative">
                <div class="btn-icon-home no-shadow  border-top align-items-center d-flex m-auto">
                  <i class="bx bx-purchase-tag m-auto h1" color="light" ion-text></i>
                </div>
                <h6 class="text-default mb-1">Promosi</h6>
            </div>
        </div>
      </div>
  
      <div class="col-6 col-md-3">
        <div class="card border-0 shadow-light text-center mb-4" (click)="contactUs()">
            <div class="card-body position-relative">
                <div class="btn-icon-home no-shadow  border-top align-items-center d-flex m-auto">
                  <i class="bx bx-info-circle m-auto h1" color="light" ion-text></i>
                </div>
                <h6 class="text-default mb-1">Kontak</h6>
            </div>
        </div>
      </div>
      
    </div>
  </ng-template>

  
</ion-content>
