<ion-header class="shadow">
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header ml-2"></i>
			</button>
		</ion-buttons>
		<ion-title>Notifikasi</ion-title>
		<ion-buttons end>
			<!-- <button ion-button clear color="white" icon-only>
				<i class="bx bx-trash-alt font-header mr-2"></i>
			</button> -->
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

	<ng-container *ngIf="spinner; else MainContent">
    <div class="text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-container>

  <ng-template #MainContent>
    <ng-container *ngIf="errorGetNotif; else LoadedNotif">
      <div>
        <error-500 [retry_id]="'notification'"></error-500>
      </div>
		</ng-container>

		<ng-template #LoadedNotif>
      <ng-container *ngIf="list_data.length > 0;else NoData">
				<div class="list-group list-group-flush">
					<div  class="list-group-item {{ (list.is_read == 0) ? 'active' : '' }}" *ngFor="let list of list_data" (click)="detail(list.notif_uuid)">
						<div class="d-flex w-100 justify-content-between">
							<h6 class="mb-2 mt-0 text-dark">{{ list.notif_name }}</h6>
						</div>
						<p class="text-secondary mb-2">{{ list.notif_description }}</p>
						<small class="text-muted">{{ global.convertDateHM(list.updated_at) }}</small>
					</div>
				</div>

				<ion-infinite-scroll (ionInfinite)="doLoadMore($event, page)" *ngIf="loadMore == true">
					<ion-infinite-scroll-content loadingSpinner="dots" loadingText="Mengambil data...">
					</ion-infinite-scroll-content>
				</ion-infinite-scroll>
			</ng-container>

			<ng-template #NoData>
				<div class="d-flex justify-content-center h-100" padding> 
					<div class="text-center card-body m-auto">
						<div class="avatar avatar-60 no-shadow mb-2 border-0 align-items-center d-flex">
							<i class="bx bx-file-find m-auto h1" ion-text color="primary"></i>
						</div>
						<h3 class="mt-5 mb-3 font-weight-normal">Tidak Ada Notifikasi</h3>
						<p class="text-secondary text-muted">Anda tidak mempunyai notifikasi.</p>
					</div>
				</div>
			</ng-template>
		</ng-template>
		
	</ng-template>
</ion-content>