<ion-header class="shadow">
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button class="ml-2" (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header"></i>
			</button>
		</ion-buttons>
		<ion-title>About Us</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div class="d-flex align-items-center mb-5">
		<img src="../../assets/image/logo-chevy.png" style="width: 70%" class="m-auto">
	</div>
	<h3 class="text-center mb-4" >PT. Mentari Motor</h3>
    <div>
		<p>
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
		</p>
		<p>
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
		</p>
	</div>

</ion-content>