<ion-header>
  <ion-navbar color="primary">
    <ion-title>Upload Gambar</ion-title>
    <ion-buttons left>
      <button ion-button (click)="close('cancel')" clear color="white" icon-only>
        <i class="bx bx-left-arrow-alt font-header mr-2" ></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="image-container">
    <div class="card">
      <ng-container *ngIf="imageData !== undefined; else TakePicture">
        <img [src]="imageData.base64Image">
      </ng-container>
      <ng-template #TakePicture>
        <div class="add-attachment mt-0">
          <h6>Silahkan Ambil/Pilih Gambar Dengan Menekan Tombol Dibawah.</h6>
          <button type="button" class="btn btn-block btn-rounded mt-2" ion-button color="primary" round (click)="takePicture('CAMERA')">Ambil Gambar</button>
          <button type="button" class="btn btn-block btn-rounded mt-2" ion-button color="secondary" round (click)="takePicture('PHOTOLIBRARY')">Pilih Gambar</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div>
    <button type="button" class="btn btn-block btn-rounded mt-5" ion-button color="primary" round (click)="close('submit_image')" *ngIf="imageData !== undefined">Konfirmasi</button>
  </div>

</ion-content>
