<ion-header class="shadow">
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header"></i>
			</button>
		</ion-buttons>
		<ion-title>Cart</ion-title>
		<ion-buttons end>
			<button ion-button clear color="white" icon-only>
				<i class="bx bx-trash-alt font-header mr-2"></i>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ul class="list-group list-group-flush mb-4">
		<li class="list-group-item">
			<div class="row mx-2">
				<div class="col-auto align-self-center pl-0">
					<button class="btn btn-sm btn-link p-0 float-right">
						<i class="bx bxs-minus-circle" ion-text color="primary"></i>
					</button>
				</div>
				<div class="col-2 pl-0 align-self-center">
					<figure class="product-image h-auto">
						<img alt="" class="vm" src="../../assets/image/car.png">
					</figure>
				</div>
				<div class="col px-0">
					<p class="text-dark mb-1 h5 d-block font-ellipse">Suzuki Inova ABCKDLKP DALDK</p>
					<h6 class="text-success mt-0 font-weight-normal mb-0">Rp300.000.000</h6>
					<p class="text-secondary small text-mute mb-0 font-ellipse">No Discount</p>
				</div>
				<div class="col-auto align-self-center pr-0">
					<div class="input-group input-group-sm">
						<div class="input-group-prepend">
							<button class="btn btn-light-grey px-1" type="button">
								<i class='bx bx-minus' ></i>
							</button>
						</div>
						<input type="text" class="form-control w-35" placeholder="" value="1">
						<div class="input-group-append">
							<button class="btn btn-light-grey px-1" type="button">
								<i class='bx bx-plus' ></i>
							</button>
						</div>
					</div>
				</div>
				
			</div>
		</li>
		<li class="list-group-item">
			<div class="row mx-2">
				<div class="col-auto align-self-center pl-0">
					<button class="btn btn-sm btn-link p-0 float-right">
						<i class="bx bxs-minus-circle" ion-text color="primary"></i>
					</button>
				</div>
				<div class="col-2 pl-0 align-self-center">
					<figure class="product-image h-auto">
						<img alt="" class="vm" src="../../assets/image/banner.jpg">
					</figure>
				</div>
				<div class="col px-0">
					<p class="text-dark mb-1 h5 d-block font-ellipse">Suzuki Inova ABCKDLKP DALDK</p>
					<h6 class="text-success mt-0 font-weight-normal mb-0">Rp300.000.000</h6>
					<p class="text-secondary small text-mute mb-0 font-ellipse">No Discount</p>
				</div>
				<div class="col-auto align-self-center pr-0">
					<div class="input-group input-group-sm">
						<div class="input-group-prepend">
							<button class="btn btn-light-grey px-1" type="button">
								<i class='bx bx-minus' ></i>
							</button>
						</div>
						<input type="text" class="form-control w-35" placeholder="" value="1">
						<div class="input-group-append">
							<button class="btn btn-light-grey px-1" type="button">
								<i class='bx bx-plus' ></i>
							</button>
						</div>
					</div>
				</div>
				
			</div>
		</li>
		
	</ul>

    <div class="d-flex justify-content-center h-100" padding> 
		<div class="text-center card-body m-auto">
			<div class="avatar avatar-60 no-shadow mb-2 border-0 align-items-center d-flex">
				<i class="bx bx-cart-alt m-auto h1" ion-text color="primary"></i>
			</div>
			<h3 class="mt-5 mb-3 font-weight-normal">Chart Empty</h3>
			<p class="text-secondary text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
			<button class="btn btn-rounded mt-5" ion-button color="primary">Explore Products</button>
		</div>
	</div>

	<div class="card mb-4 border-0 shadow-sm border-top-dashed card-checkoutall w-100" ion-fixed>
		<div class="card-body">
			<div class="d-flex justify-content-between">
				<p class="text-secondary my-1">Sub Total</p>
				<h3 class="mb-0 mt-0">Rp40.000.000.000</h3>
			</div>
			<button class="btn btn-lg text-white btn-block btn-rounded shadow mt-4" ion-button color="primary">
				<span>Checkout All</span>
			</button>
		</div>
	</div>
</ion-content>