page-extra {

  .detail-pesanan{
    background: #eee;
    border-radius: 10px;
    padding: 20px;
  }

  .loading-search{
    top: 6px;
    right: 6px;
    position: absolute;
  }

  #progressbar {
    overflow: hidden;
    color: lightgrey;
    padding: 0px;
    margin: 0px;
  }

  #progressbar .active {
      color: #673AB7
  }

  #progressbar li {
      list-style-type: none;
      font-size: 16px;
      width: 16%;
      float: left;
      position: relative;
      font-weight: 400
  }

  #progressbar #recieve:before {
      font-family: 'boxicons'!important;
      content: "\eb6b";
      font-size: 16px;
      text-align: center;
  }

  #progressbar #process:before {
    font-family: 'boxicons'!important;
    content: "\ec00";
    font-size: 16px;
    text-align: center;
  }

  #progressbar #waiting:before {
    font-family: 'boxicons'!important;
    content: "\eb96";
    font-size: 16px;
    text-align: center;
  }

  #progressbar #ontheway:before {
    font-family: 'boxicons'!important;
    content: "\ee86";
    font-size: 16px;
    text-align: center;
  }

  #progressbar #onprogress:before {
    font-family: 'boxicons'!important;
    content: "\ebf0";
    font-size: 16px;
    text-align: center;
  }

  #progressbar #done:before {
    font-family: 'boxicons'!important;
    content: "\ea13";
    font-size: 16px;
    text-align: center;
  }

  #progressbar li:before {
      width: 35px;
      height: 35px;
      line-height: 35px;
      display: block;
      font-size: 20px;
      color: #ffffff;
      background: lightgray;
      border-radius: 50%;
      margin: 0 auto 10px auto;
      padding: 2px
  }

  #progressbar li:after {
      content: '';
      width: 100%;
      height: 2px;
      background: lightgray;
      position: absolute;
      left: 0;
      top: 18px;
      z-index: -1
  }

  #progressbar li.active:before,
  #progressbar li.active:after {
      background: #673AB7
  }

  .div-termcondi{
    border: 1px dashed #e1e1e1;
  }

  .add-attachment{
    border: 1px dashed;
    padding: 40px;
    text-align: center;
    margin-top: 20px;
    border-radius: 15px;
  }

  .container-vehicle-img{
    width: 45px;
    border-radius: 50%;
    height: 45px;
  }

  .maps_canvas {
    height: 85%;
    width: 100%;
  }
}
