<ion-header>
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header ml-2"></i>
			</button>
		</ion-buttons>
		<ion-title>Titik Lokasi</ion-title>
		<ion-buttons right>
			<button ion-button (click)="refreshPosition()" clear color="white" icon-only>
				Refresh <i class="bx bx-refresh font-header ml-2"></i>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content >

	<div class="text-center" *ngIf="mapReady == false || spinner == true" style="z-index: 9999999999; position:absolute; left:0; right:0; margin-left:auto; margin-right:auto;">
		<ion-spinner name="crescent"></ion-spinner>
	</div>

	<div #map id="map" class="maps_canvas" style="z-index: 999999999;"></div>

	<button *ngIf="mapReady && !spinner" type="button" class="btn btn-block btn-rounded mt-2" ion-button color="primary" round (click)="saveLocation()">Simpan Lokasi</button>

</ion-content>