<ion-header class="shadow">
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button class="ml-2" (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header"></i>
			</button>
		</ion-buttons>
		<ion-title>Detail Activity</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      pullingText="Tarik untuk menyegarkan"
      refreshingSpinner="null"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

	<ng-container *ngIf="spinner; else MainContent">
    <div class="text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
	</ng-container>
	
	<ng-template #MainContent>
		<ng-container *ngIf="errorGetTrx; else LoadedTrx">
      <div>
        <error-500 [retry_id]="'order_detail'"></error-500>
      </div>
    </ng-container>
    <ng-template #LoadedTrx>
			<div style="padding-bottom: 40px">
				<p class="mt-0 mb-4 text-center" *ngIf="content.srv_t_status == 4">
					Silahkan Memilih Pembayaran
				</p>
				<p class="mt-0 mb-4 text-center" *ngIf="content.srv_t_status == 0 && content.srv_t_cat !== 3 && content.srv_t_cat !== 2">
					Menunggu Pembayaran Booking Fee
				</p>
				<p class="mt-0 mb-4 text-center" *ngIf="content.srv_t_status == 0 && content.srv_t_cat == 2 && (content.srv_t_approve == 0 || content.srv_t_approve == undefined || content.srv_t_approve == null)">
					Menunggu Konfirmasi Admin
				</p>
				<p class="mt-0 mb-4 text-center" *ngIf="content.srv_t_status == 0 && content.srv_t_cat == 2 && content.srv_t_approve == 1">
					Menunggu Pembayaran Booking Fee
				</p>
				<div class="border-top card shadow-sm bg-white">
					<div class="card-body d-flex align-items-center">
						<div>
							<span class="btn btn-secondary button-rounded-26">
							<i class="bx bx-phone-call md-18 text-mute"></i>
							</span>
						</div>
						<div class="ml-4 w-100">
							<div class="d-flex justify-content-between align-items-center ">
							<h5 class="text-dark mb-0 h6 mt-0">{{ global.convertDateHM(content.srv_t_created_at) }} </h5>
							<p class="text-right small text text-md text-md-primary" color="primary" ion-text="">CODE : {{ content.srv_t_code }}</p>
							</div>
							<h6 class="mb-1 mt-0">{{ content.cst_crs_name }}</h6>
							<p class="mb-0 small" *ngIf="content.srv_t_cat == 1">
							Servis di Bengkel
							</p>
							<p class="mb-0 small" *ngIf="content.srv_t_cat == 2">
							Servis di Rumah
							</p>
							<p class="mb-0 small" *ngIf="content.srv_t_cat == 3">
							Servis Darurat
							</p>
						</div>
					</div>
				</div>
				<div class=" border-0  w-100">
					<div class="card-body">
						<div class="pb-3" *ngIf="content.srv_t_cat !== 3">
							<p class="text-secondary my-0 small">Status</p>
							<p class="text-dark my-0">
								{{ content.srv_t_status_name }}
							</p>
						</div>
						<div class="pb-3">
							<p class="text-secondary my-0 small">Atas Nama</p>
							<p class="text-dark my-0">
								{{ content.srv_t_fullname }}
							</p>
						</div>
						<div class="pb-3">
							<p class="text-secondary my-0 small">Nomor Telepon</p>
							<p class="text-dark my-0">
								{{ content.srv_t_phone }}
							</p>
						</div>
						<div class="pb-3">
							<p class="text-secondary my-0 small">Keluhan</p>
							<p class="text-dark my-0">
								{{ content.srv_t_note_users }}
							</p>
						</div>
						<div class="pb-3">
							<p class="text-secondary my-0 small">Tanggal Servis</p>
							<p class="text-dark my-0">
								{{ global.convertDate(content.srv_t_date) }}
							</p>
						</div>
						<div class="pb-3">
							<p class="text-secondary my-0 small">Jam Servis</p>
							<p class="text-dark my-0">
								{{ global.convertHM(content.srv_t_hours_start, false) }}
							</p>
						</div>
						<div class="pb-3" *ngIf="content.srv_t_status !== 1">
							<p class="text-secondary my-0 small">Estimasi Servis</p>
							<p class="text-dark my-0">
								{{ global.getHours(content.srv_t_estimated_time) }} Jam {{ global.getMinutes(content.srv_t_estimated_time) }} Menit
							</p>
						</div>
						<div class="pb-3" *ngIf="content.srv_t_status == 1">
							<p class="text-secondary my-0 small">Selesai</p>
							<p class="text-dark my-0">
								{{ global.convertDateHM(content.srv_t_updated_at) }}
							</p>
						</div>
						<div class="pb-2" *ngIf="content.srv_t_cat == 2">
							<p class="text-secondary my-0 small">Alamat</p>
							<p class="text-dark my-0">
								{{ content.srv_t_address }}
							</p>
						</div>
						<div class="pb-2">
							<p class="text-secondary my-0 small">KM</p>
							<p class="text-dark my-0">
								{{ content.srv_t_km }}
							</p>
						</div>
						<div class="pb-2">
							<p class="text-secondary my-0 small">Catatan</p>
							<p class="text-dark my-0">
								{{ content.srv_t_note }}
							</p>
						</div>
					</div>
				</div>
				<div class="card mb-4 border-0 shadow bg-white w-100">
					<div class="card-body">
						<h5 class="mb-3 mt-0">
							<b>Detail Servis</b>
						</h5>
						<div class="" *ngIf="serviceRegulerList.length > 0">
							<div class="border-top-dashed pt-3 pb-2">
								<h6 class="mb-3 mt-0" style="background: #eee; padding: 5px 10px;">
									Servis Reguler
								</h6>
								<div *ngFor="let srv of serviceRegulerList">
									<div class="justify-content-between d-flex pb-3">
										<p class="text-secondary my-0 small">{{ srv.srv_name }}</p>
										<p class="text-dark my-0">Rp{{ global.currencyFormat(srv.srv_act_price) }}</p>
									</div>
									<p class="text-secondary my-0 small">Keterangan :</p>
									<p [innerHTML]="srv.srv_description"></p>
									<div class="justify-content-between d-flex pb-3" *ngIf="srv.srv_discount > 0">
										<p class="text-secondary my-0 small">Diskon</p>
										<p class="text-dark my-0">{{ srv.srv_discount }} %</p>
									</div>
								</div>
							</div>
						</div>
						<div class="" *ngIf="serviceBulkList.length > 0">
							<div class="border-top-dashed pt-3 pb-2">
								<h6 class="mb-3 mt-0" style="background: #eee; padding: 5px 10px;">
									Servis Paket
								</h6>
								<div *ngFor="let bulk of serviceBulkList">
									<div class="justify-content-between d-flex pb-3">
										<p class="text-secondary my-0 small">{{ bulk.srv_b_name }}</p>
										<p class="text-dark my-0">Rp{{ global.currencyFormat(bulk.srv_b_act_price) }}</p>
									</div>
									<p class="text-secondary my-0 small">Jasa :</p>
									<p [innerHTML]="bulk.srv_b_description"></p>
									<p class="text-secondary my-0 small">Produk di dalam paket :</p>
									<ul *ngFor="let produk of bulk.prd_id">
										<li>{{ produk.prd_name }}</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="" *ngIf="ProductList.length > 0">
							<div class="border-top-dashed pt-3 pb-2">
								<h6 class="mb-3 mt-0" style="background: #eee; padding: 5px 10px;">
									Produk
								</h6>
								<div *ngFor="let produk of ProductList">
									<div class="justify-content-between d-flex pb-3">
										<p class="text-secondary my-0 small">{{ produk.prd_name }}</p>
										<p class="text-dark my-0">Rp{{ global.currencyFormat(produk.prd_act_price) }}</p>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="border-top-dashed pt-3 pb-2 justify-content-between d-flex">
							<p class="text-dark mb-3 mt-0" style="background: red;color: #fff; padding: 5px 10px;">
								Booking Fee
							</p>
							<p class="mb-3 mt-0 text-danger">
								- Rp{{ global.currencyFormat(content.srv_t_dp) }}
							</p>
						</div> -->
						<div class="border-top-dashed pt-3 pb-2 justify-content-between d-flex">
							<p class="text-dark mb-3 mt-0">
								Estimasi Waktu
								<br><small class="text-muted">(Waktu Hanya Estimasi)</small>
							</p>
							<p class="mb-3 mt-0">
								{{ calculateTime(content.srv_t_estimated_time) }}
							</p>
						</div>
						<div class="border-top-dashed pt-3 pb-2 justify-content-between d-flex" *ngIf="content.srv_t_status == 1">
							<p class="text-dark mb-3 mt-0">
								Waktu Selesai
							</p>
							<p class="mb-3 mt-0">
								{{ calculateTime(content.srv_t_actual_time) }}
							</p>
						</div>
						<div class="justify-content-between d-flex border-top-dashed pt-3">
							<p class="text-dark my-0">Subtotal<br><small class="text-muted">(Harga Hanya Estimasi)</small></p>
							<p class=" my-0 font-weight-bold">Rp{{ global.currencyFormat(content.srv_t_estimated_price) }}</p>
						</div>
					</div>
				</div>

				<div class="card w-100 mb-4">
					<div class="card-body">
						<div class="justify-content-between d-flex">
							<p class="p-0 text-dark" style="padding: 0px!important;margin: 0px!important;">
								Booking Fee
							</p>
							<h6 class="p-0 text-danger" style="font-weight: bold;padding: 0px!important;margin: 0px!important;">
								- Rp{{ global.currencyFormat(content.srv_t_dp) }}
							</h6>
						</div>
					</div>
				</div>

				<div class="card w-100 mb-4" *ngIf="content.srv_t_status == 1">
					<div class="card-body">
						<div class="justify-content-between d-flex">
							<p class="p-0 text-dark" style="padding: 0px!important;margin: 0px!important;">
								Total Pembayaran
							</p>
							<h6 class="p-0 text-success" style="font-weight: bold;padding: 0px!important;margin: 0px!important;">
								Rp{{ global.currencyFormat((content.srv_t_actual_price - content.srv_t_dp)) }}
							</h6>
						</div>
					</div>
				</div>
	
				<div class="border-top card shadow-sm mb-2" *ngIf="(content.srv_t_status == 0 || content.srv_t_status == 2 || content.srv_t_status == 3) && (content.pm_trx_status == 'pending' || content.pm_trx_status == 'settlement') && content.srv_t_cat !== 3">
					<div class="card-body">
						<h2 class="mb-1 mt-0">
							<b>Metode Pembayaran</b>
						</h2>
						<hr class="shadow">
						<ng-container *ngIf="content.pm_type == 'bank_transfer' && content.pm_va_number !== null;else EBILL">
							<h4><b>{{ (content.pm_type !== '' && content.pm_type !== null && content.pm_type !== undefined) ? content.pm_type.replace("_", " ").toUpperCase() : "ERROR" }}</b></h4>
							<ng-container *ngIf="content.pm_origin_data.va_numbers !== undefined && content.pm_origin_data.va_numbers.length > 0; else permata">
								<div *ngFor="let va of content.pm_origin_data.va_numbers">
									<h6 class="mb-0 mt-0"><b>Bank : </b>{{(va['bank']).toUpperCase()}}</h6>
									<h6 class="mb-0 mt-0"><b>Virtual Account : </b>{{va['va_number']}} <i class='bx bx-copy' (click)="global.copyData(va['va_number'])"></i></h6>
								</div>
								<br>
								<h6 class="mb-0 mt-0" *ngIf="(content.srv_t_status == 0 || content.srv_t_status == 3) && (content.pm_trx_status == 'pending' || content.pm_trx_status == 'settlement')"><b>Status </b>: <span *ngIf="content.srv_t_status == 0 && content.pm_trx_status == 'pending'">Menunggu Pembayaran</span> <span *ngIf="content.srv_t_status == 3 || (content.srv_t_status == 0 && content.pm_trx_status == 'settlement')">Pembayaran Telah Diterima</span></h6>
								
								<ng-container *ngIf="content.srv_t_status == 0 && content.pm_trx_status == 'pending'">
									<br>
									<h6 class="mb-0 mt-0 text-muted"><i><b>Note </b>: Silahkan Transfer ke virtual account yang tertera agar pesanan bisa segera di proses.</i></h6>
								</ng-container>
								
							</ng-container>
							<ng-template #permata>
								<div *ngIf="content.pm_va_number !== undefined">
									<h6 class="mb-0 mt-0"><b>Bank : </b>PERMATA</h6>
									<h6 class="mb-0 mt-0"><b>Virtual Account : </b>{{content.pm_va_number}} <span (click)="global.copyData(content.pm_va_number)"> [salin] </span></h6>
								</div>
								<br>
								<h6 class="mb-0 mt-0" *ngIf="(content.srv_t_status == 0 || content.srv_t_status == 3) && (content.pm_trx_status == 'pending' || content.pm_trx_status == 'settlement')"><b>Status </b>: <span *ngIf="content.srv_t_status == 0 && content.pm_trx_status == 'pending'">Menunggu Pembayaran</span> <span *ngIf="content.srv_t_status == 3 || (content.srv_t_status == 0 && content.pm_trx_status == 'settlement')">Pembayaran Telah Diterima</span></h6>
								
								<ng-container *ngIf="content.srv_t_status == 0">
									<br>
									<h6 class="mb-0 mt-0 text-muted"><i><b>Note </b>: Silahkan Transfer ke virtual account / nomor rekening yang tertera agar pesanan bisa segera di proses.</i></h6>
								</ng-container>
							</ng-template>
							
						</ng-container>
						<ng-template #EBILL>
							<ng-container *ngIf="content.pm_type == 'echannel'; else OtherPayment">
								<h5 class="mb-0 mt-0"><b>Metode Pembayaran : </b>Mandiri Bill</h5>

								<h6 class="mb-0 mt-0"><b>Penyedia Jasa : </b>{{ echannel.biller_name }}</h6>
								<h6 class="mb-0 mt-0"><b>Kode Perusahaan : </b>{{ echannel.biller_code }}</h6>
								<h6 class="mb-0 mt-0"><b>Kode Pembayaran : </b>{{echannel.bill_key}} <span (click)="global.copyData(echannel.bill_key)"> [salin] </span></h6>

								<h6 class="mb-0 mt-0" *ngIf="(content.srv_t_status == 0 || content.srv_t_status == 3) && (content.pm_trx_status == 'pending' || content.pm_trx_status == 'settlement')"><b>Status </b>: <span *ngIf="content.srv_t_status == 0 && content.pm_trx_status == 'pending'">Menunggu Pembayaran</span> <span *ngIf="content.srv_t_status == 3 || (content.srv_t_status == 0 && content.pm_trx_status == 'settlement')">Pembayaran Telah Diterima</span></h6>
								
								<ng-container *ngIf="content.srv_t_status == 0">
									<br>
									<h6 class="mb-0 mt-0 text-muted"><i><b>Note </b>: Silahkan lakukan pembayaran ke kode pembayaran/bill yang tertera agar pesanan bisa segera di proses.</i></h6>
								</ng-container>
							</ng-container>
						</ng-template>
						<ng-template #OtherPayment>
							<div class="text-canter">
								<h4><b>{{ (content.pm_type !== '' && content.pm_type !== null && content.pm_type !== undefined) ? content.pm_type.replace("_", " ").toUpperCase() : "ERROR" }}</b></h4>
							</div>
						</ng-template>
						
					</div>
				</div>
	
				<div class="border-top card shadow-sm " *ngIf="content.srv_t_status == 0 && content.srv_t_cat !== 3" [hidden]="content.srv_t_status == 0 && content.pm_trx_status == 'settlement'">
					<div class="card-body">
						<p class="small mb-0" *ngIf="(content.srv_t_approve == 0 || content.srv_t_approve == undefined || content.srv_t_approve == null) && content.srv_t_cat == 2">
							Pesanan Home Service anda sedang menunggu konfirmasi admin.
						</p>
						<p class="small mb-0" *ngIf="content.srv_t_approve == 1 && content.srv_t_cat == 2">
							Anda harus membayar Booking Fee agar pesanan segera diproses. <span style="font-style: italic;">Total Tagihan Anda Akan Dikurangi Dari Nominal Booking Fee.</span>
						</p>
						<p class="small mb-0" *ngIf="content.srv_t_cat !== 2" style="font-size: 90%;">
							Anda harus membayar Booking Fee agar pesanan segera diproses. <span style="font-style: italic; color:red; font-weight: bold">Total Tagihan Anda Akan Dikurangi Dari Nominal Booking Fee.</span>
						</p>
					</div>
				</div>
	
				<div class="border-top card shadow-sm bg-secondary " *ngIf="content.srv_t_status == 2">
					<div class="card-body text-center text-white">
						<h6 class="my-0 ">Pesanan Sedang Dalam Proses</h6>
						<p class="my-0 ">
							Pesanan Anda Sedang Dalam Proses. Silahkan Tunggu.
						</p>
					</div>
				</div>
	
				<div class="border-top card bg-white shadow-sm" *ngIf="content.srv_t_status == 3 && content.srv_t_cat !== 3 && content.pm_trx_status == 'settlement' || (content.srv_t_status == 0 && content.pm_trx_status == 'settlement')">
					<div class="card-body d-flex align-items-center">
						<div>
							<span class="btn btn-success button-rounded-26">
							<i class="bx bxs-check-circle md-18 text-mute"></i>
							</span>
						</div>
						<div class="ml-4 w-100">
							<div class="d-flex justify-content-between align-items-center ">
							<h5 class="text-dark mb-0 h6 mt-0">{{ content.pm_trx_time }} </h5>
							<p class="text-right small text text-md text-md-primary" color="primary" ion-text="">{{ (content.pm_type !== '' && content.pm_type !== null && content.pm_type !== undefined) ? content.pm_type.replace("_", " ").toUpperCase() : "ERROR" }}</p>
							</div>
							<h6 class="mb-1 mt-0">Booking Fee Telah Diterima</h6>
							<p class="mb-0 small">
								Pesanan Akan Segera Diproses Oleh Admin.
							</p>
							<!-- <hr>
							<p class="small mt-0">Lihat Detail Pembayaran</p> -->
						</div>
					</div>
				</div>
				
				<div class="border-top card shadow-sm " *ngIf="content.srv_t_cat == 3 && content.srv_t_status == 3">
					<div class="card-body">
						<p class="small mb-0">
							Mohon tunggu, Request Servis Darurat Anda Sedang Menunggu Konfirmasi Admin.
						</p>
					</div>
				</div>
	
				<div class="border-top card shadow-sm mt-1" *ngIf="content.srv_t_status == 3 && content.srv_t_cat !== 3">
					<div class="card-body">
						<div class="justify-content-between d-flex">
							<p class="small mb-0" *ngIf="content.srv_t_cat == 1">
								Silahkan Datang Ke Bengkel Sebelum {{ content.srv_t_date }} {{ content.srv_t_hours_start }} Untuk Proses Selanjutnya.
							</p>
							<p class="small mb-0" *ngIf="content.srv_t_cat == 2">
								Silahkan Tunggu, Petugas Kami Akan Datang Ke Rumah Anda Sebelum {{ content.srv_t_date }} {{ content.srv_t_hours_start }} Untuk Proses Selanjutnya. 
							</p>
						</div>
					</div>
				</div>
	
				<div class="continue-gopay-only" *ngIf="content.pm_trx_status == 'pending' && content.srv_t_cat !== 3 && content.pm_type == 'gopay'">
					
					<div class="d-flex justify-content-between align-items-center">
						<button class="btn btn-block btn-lg mb-2 mt-4" ion-button color="primary" round (click)="showQR = !showQR; scrollToQR()">{{ (showQR) ? 'Hide ' : 'Show ' }}QR Code</button>
						<button class="btn btn-block btn-lg mb-2 mt-4" ion-button color="primary" round (click)="openGojek()">Buka Aplikasi Gojek</button>
					</div>
	
					<hr class="shadow">
					<img [src]="QRUrl" *ngIf="showQR" id="qrimage">
				</div>
				
					<button class="btn btn-block btn-lg mb-2 mt-4" ion-button color="secondary" round (click)="cancel()" *ngIf="content.srv_t_status == 4">
						Batalkan Pesanan
					</button>
			</div>
		</ng-template>
	</ng-template>

	<!-- <button class="btn btn-block btn-lg mb-2 mt-4" ion-button color="primary" round (click)="payNow()" *ngIf="!spinner && content.srv_t_status == 0 && content.pm_trx_status == 'pending' && content.pm_type == 'gopay' && content.pm_origin_data.fraud_status == 'accept'">
		Bayar Sekarang
	</button> -->

</ion-content>

<ion-footer *ngIf="!errorGetTrx && !spinner" class="bg-danger">
	<button class="btn btn-block w-100" clear ion-button style="height: 30px; color: #fff" (click)="continuePayment()" *ngIf="!spinner && (content.srv_t_status == 0 || content.srv_t_status == 4) && content.pm_trx_status !== 'pending' && content.srv_t_cat !== 3 && (content.srv_t_cat !== 2 || (content.srv_t_cat == 2 && content.srv_t_approve == 1 ))" [hidden]="(content.srv_t_cat == 1 || content.srv_t_cat == 2) && (content.pm_trx_status == 'settlement')">
		Bayar Booking Fee
	</button>
</ion-footer>