<ion-header>
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header"></i>
			</button>
		</ion-buttons>
		<ion-title>Booking Fee</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<ng-container *ngIf="spinner; else MainContent">
    <div class="text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
	</ng-container>
	
	<ng-template #MainContent>
		<ng-container *ngIf="finish == true;else RequestPayment">
			<finish-payment></finish-payment>
		</ng-container>
		<ng-template #RequestPayment>
			<ng-container *ngIf="errorRequest; else LoadedRequest">
				<div>
					<error-500 [retry_id]="'payments_dp'"></error-500>
				</div>
			</ng-container>
			<ng-template #LoadedRequest>
				<div class="card mb-4 border-0 shadow bg-light w-100">
					<div class="card-body">
						<div class="justify-content-between d-flex ">
						<p class="text-dark my-0">Booking Fee</p>
						<h6 class=" my-0" ion-text color="primary">Rp{{ global.currencyFormat(dataService.srv_t_dp) }}</h6>
						</div>
					</div>
				</div>
				
				<div class="card mb-4 border-0 shadow bg-white w-100">
					<div class="card-body">
						<h5 class="mb-3 mt-0">
							<b>Detail Servis</b>
						</h5>
						<div class="" *ngIf="serviceRegulerList.length > 0">
							<div class="border-top-dashed pt-3 pb-2">
								<h6 class="mb-3 mt-0" style="background: #eee; padding: 5px 10px;">
									Servis Reguler
								</h6>
								<div *ngFor="let srv of serviceRegulerList">
									<div class="justify-content-between d-flex pb-3">
										<p class="text-secondary my-0 small">{{ srv.srv_name }}</p>
										<p class="text-dark my-0">Rp{{ global.currencyFormat(srv.srv_act_price) }}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="" *ngIf="serviceBulkList.length > 0">
							<div class="border-top-dashed pt-3 pb-2">
								<h6 class="mb-3 mt-0" style="background: #eee; padding: 5px 10px;">
									Servis Paket
								</h6>
								<div *ngFor="let bulk of serviceBulkList">
									<div class="justify-content-between d-flex pb-3">
										<p class="text-secondary my-0 small">{{ bulk.srv_b_name }}</p>
										<p class="text-dark my-0">Rp{{ global.currencyFormat(bulk.srv_b_act_price) }}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="" *ngIf="ProductList.length > 0">
							<div class="border-top-dashed pt-3 pb-2">
								<h6 class="mb-3 mt-0" style="background: #eee; padding: 5px 10px;">
									Produk
								</h6>
								<div *ngFor="let produk of ProductList">
									<div class="justify-content-between d-flex pb-3">
										<p class="text-secondary my-0 small">{{ produk.prd_name }}</p>
										<p class="text-dark my-0">Rp{{ global.currencyFormat(produk.prd_act_price) }}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="justify-content-between d-flex border-top-dashed pt-3">
							<p class="text-dark my-0">Total<br><small class="text-muted">(Harga Hanya Estimasi)</small></p>
							<h6 class=" my-0 font-weight-bold">Rp{{ global.currencyFormat(dataService.srv_t_actual_price) }}</h6>
						</div>
					</div>
				</div>
			
				<div class="mt-5 text-center p-4 div-termcondi" style="margin-bottom: 100px;">
					<h6>Term &amp; Conditions</h6>
					<p>Minimal Pembayaran Booking Fee sebesar Rp{{ global.currencyFormat(dataService.srv_t_dp) }} dan pesanan akan diproses setelah pembayaran Booking Fee dilakukan</p>
				</div>
			</ng-template>
		</ng-template>
	</ng-template>
</ion-content>

<ion-footer class="p-0" *ngIf="finish !== true && !errorRequest && !spinner">
	<button class="btn btn-full w-100 m-0" ion-button color="primary" (click)="pay()" [disabled]="processPay">
		Bayar Sekarang
	</button>
</ion-footer>
<ion-footer class="p-0" *ngIf="finish == true">
	<button class="btn btn-full w-100 m-0" ion-button color="primary" (click)="dismiss()">
		Selesai
	</button>
</ion-footer>