<div class="inner-content" style="border-radius:10px;
	background-color: #398AD7;
	background-image: linear-gradient(to bottom right, #398AD7 , #b3def8);margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);">

	<div class="text-white text-center my-4" style="padding: 12px;">
		<h3 class="p-0 m-0 mb-2">Hi, Chevy lovers!</h3>

		<p class="pt-3">
			SELAMAT DATANG DI CHEVYCARE. 
			<br> 
			Kami siap membantu untuk kebutuhan Chevy Anda. 
			<br> 
			<br> 
			<b>Daftar sekarang untuk mulai booking service kamu di bengkel kesayangan kamu.</b>
		</p>
	</div>

	<div class="text-white text-center p-3 my-4">
		<button type="button" class="btn btn-primary mr-3" (click)="daftar()" *ngIf="!global.isLogin">Daftar</button>
		<button type="button" class="btn btn-secondary ml-3" (click)="dismiss()">Tutup</button>
	</div>
</div>