<ion-header class="shadow">
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button (click)="viewCtrl.dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header"></i>
			</button>
		</ion-buttons>
		<ion-title>Pilih {{ fieldsLabel }}</ion-title>
	</ion-navbar>
	<div class="bg-primary" *ngIf="fieldsName == 'crs_model_id'">
    <div class="px-3 pt-2 pb-1">
      <fieldset class="form-group " style="position: relative;">
				<input type="text" class="form-control" [(ngModel)]="keyword" [ngModelOptions]="{standalone:true}" placeholder="Cari {{ fieldsLabel }}" (input)="search()" (input)="onInputSearch()">
				<ion-spinner name="crescent" class="loading-search" *ngIf="searchSpinner"></ion-spinner>
     </fieldset>
    </div>
  </div>
</ion-header>

<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ng-container *ngIf="spinner == true;else ListDropdown">
		<div class="text-center">
			<ion-spinner name="crescent"></ion-spinner>
		</div>
	</ng-container>
	<ng-template #ListDropdown>
		<ng-container *ngIf="list_dropdown.length == 0; else ListData">
			<div class="d-flex justify-content-center h-100" padding> 
				<div class="text-center card-body m-auto">
					<div class="avatar avatar-60 no-shadow mb-2 border-top align-items-center d-flex">
						<i class="bx bx-cart m-auto h1" ion-text color="primary"></i>
					</div>
					<h3 class="mt-5 mb-3 font-weight-normal">{{ fieldsLabel }} Tidak Tersedia</h3>
					<p class="text-secondary text-muted">Silahkan kembali beberapa saat lagi.</p>
				</div>
			</div>
		</ng-container>
		<ng-template #ListData>
			<div *ngFor="let list of list_dropdown">
				<ng-container *ngIf="fieldsName == 'crs_brand_id';else Model">
					<ul class="list-group list-group-flush mb-4">
						<li class="list-group-item" (click)="dismiss(list.crs_brand_id, list.crs_brand_name)">
							<div class="d-flex align-items-center">
								<div class="w-100">
									<h6 class="my-2">{{ list.crs_brand_name }}</h6>
									<p class="mb-0">{{ list.crs_brand_description }}</p>
								</div>
							</div>
						</li>
					</ul>
				</ng-container>
				<ng-template #Model>
					<ng-container *ngIf="fieldsName == 'crs_model_id';else Location">
						<ul class="list-group list-group-flush mb-4">
							<li class="list-group-item" (click)="dismiss(list.crs_model_id, list)">
								<div class="d-flex align-items-center">
									<div class="w-100">
										<h6 class="my-2">{{ list.crs_model_name }}</h6>
										<p class="mb-0">{{ list.crs_model_cc }} {{ list.crs_model_transmission }} {{ list.crs_model_type }}</p>
									</div>
								</div>
							</li>
						</ul>
					</ng-container>
				</ng-template>
				<ng-template #Location>
					<ng-container *ngIf="fieldsName == 'str_id';else other">
						<ul class="list-group list-group-flush mb-4">
							<li class="list-group-item" (click)="dismiss(list.str_id, list.str_name)">
								<div class="d-flex align-items-center">
									<div class="w-100">
										<h6 class="my-2">{{ list.str_name }}</h6>
										<p class="mb-0">{{ list.str_address }}</p>
										<small class="text-muted">
											<span class="mr-3">
												<i class='bx bx-phone-call mr-1' ></i> {{ list.str_phone }}
											</span>
											<span >
												<i class='bx bx-envelope mr-1' ></i> {{ list.str_email }}
											</span>
										</small>
									</div>
								</div>
							</li>
						</ul>
					</ng-container>
				</ng-template>
	
			</div>
			<ion-infinite-scroll (ionInfinite)="doLoadMore($event)" *ngIf="loadMore == true">
				<ion-infinite-scroll-content loadingSpinner="dots" loadingText="Mengambil data...">
				</ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</ng-template>
	</ng-template>
	
	
</ion-content>