<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add Your Car</ion-title>
    <ion-buttons left>
      <button ion-button (click)="close('cancel')" clear color="white" icon-only>
        <i class="bx bx-left-arrow-alt font-header mr-2" ></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="card border-0 shadow-sm card-choose-car mb-4">
    <div class="card-body text-center d-flex align-items-center">
      <div class="w-100 m-auto">
        <img src="./../../assets/image/icon-car/3.png" class="icon-mobile">
      </div>
    </div>
  </div> 

  <form [formGroup]="createForm" #myForm>
    <div class="form-group" *ngFor="let core of fields">
      <label class="text-muted">{{ core.cst_crs_f_label }}</label>
      <ng-container *ngIf="core.cst_crs_f_input_type=='s_autocomplete'; else year">
        <ion-input type="hidden" formControlName="{{ core.cst_crs_f_name }}" [(ngModel)]="data[core.cst_crs_f_name]"></ion-input>
        <input type="text" class="form-control" placeholder="Pilih {{ core.cst_crs_f_label }}" [(ngModel)]="data_label[core.cst_crs_f_name+'_label']" [ngModelOptions]="{standalone: true}" readonly (click)="sAutoComplete(core.cst_crs_f_name, core.cst_crs_f_label)">
      </ng-container>
      <ng-template #year>
        <ng-container *ngIf="core.cst_crs_f_input_type=='year'; else default">
          <ion-datetime [(ngModel)]="data[core.cst_crs_f_name]"
                formControlName="{{ core.cst_crs_f_name }}" placeholder="Pilih Tahun" displayFormat="YYYY" pickerFormat="YYYY"
                [max]="global.config('maxYear')" class="form-control"></ion-datetime>
        </ng-container>
      </ng-template>
      <ng-template #default>
        <input type="text" class="form-control" placeholder="{{ core.cst_crs_f_label }}" [(ngModel)]="data[core.cst_crs_f_name]" formControlName="{{ core.cst_crs_f_name }}">
      </ng-template>
    </div>

    <div class="add-attachment" *ngIf="imageData == undefined; else ShowImage">
      <h6>Tambahkan gambar mobil</h6>
      <button type="button" class="btn btn-rounded btn-block mt-4" ion-button round color="light" (click)="addImage()"> Tambah</button>
    </div>
    <ng-template #ShowImage>
      <div>
        <div class="media d-flex align-items-center">
          <div class="avatar bg-light mr-1">
            <div class="container-vehicle-img">
              <img [src]="imageData?.base64Image" [alt]="imageData?.imageName" imageViewer>
            </div>
          </div>
          <div class="media-body text-truncate">
            <small>{{ global.convertDateHM(imageData?.date) }}</small>
            <h6 class="m-0 p-0" style="font-size: 1.5rem;" ion-text>
              {{ imageData?.imageName }}
            </h6>
          </div>
          <div class="ml-auto d-flex align-items-center" tappable (click)="removeImage()">
            <i class="bx bx-x mr-1"></i>
          </div>
        </div>
      </div>
    </ng-template>
    

    <button type="button" class="btn btn-rounded btn-block mt-4" ion-button round color="primary" [disabled]="!createForm.valid" (click)="storeData()"> Tambah Kendaraan</button>

  </form>

</ion-content>
