page-payment {
  .bg-blue-chevicare{
    background-color: #398BD7;
  
  }
  
  .btn-open-gojek{
    border: 1px solid #102038;
    background-color: transparent;
    color: #102038 ;
  }
  
  .btn-open-qr{
    background-color: #102038;
      color: white;
  }
  
  .h-100 {
    height: 100% !important;
  }
  
  .card-empty {
    min-height: 253px;
  }

  .list {
      background-color: #FFFFFF;
      height: 72px;
      display: block;
      text-decoration: none;
      box-sizing: content-box;
      border-bottom: 1px solid #F2F2F2;
      position: relative;
  }

  .list:last-child .list-payment-logo {
      border-bottom: 0;
  }
  .list-payment-logo {
      padding: 16px;
      float: left;
      border-bottom: 1px solid #FFFFFF;
  }

  .sprite {
      background-image: url('https://d2f3dnusg0rbp7.cloudfront.net/snap/assets/sprite-7c1ffcf060a26107e30e58cb43c57f4905fe443c71217bfb4179aceb6088e307.png');
      background-size: 160px 510px;
      background-repeat: no-repeat;
      display: block;
  }
  .sprite.gopay-qris {
      background-position: -80px -430px;
      width: 40px;
      height: 40px;
  }
  .sprite.mandiri {
      background-position: -40px -232px;
      width: 40px;
      height: 40px;
  }

  .sprite.bni {
      background-position: -120px -232px;
      width: 40px;
      height: 40px;
  }

  .sprite.permata {
      background-position: -80px -232px;
      width: 40px;
      height: 40px;
  }

  .sprite.bank-transfer {
      background-position: 0px -392px;
      width: 40px;
      height: 40px;
  }

  .list-content {
      vertical-align: middle;
      width: calc(100% - 116px);
      height: 72px;
      float: left;
  }

  .list-title {
      vertical-align: middle;
      line-height: 94px;
  }

  .text-actionable-bold {
      font-weight: 700;
      font-size: 1.4rem;
      color: #666666;
  }

  .list .list-next {
      margin: 30px 12px 30px 20px;
      float: right;
  }
  .sprite.list-next {
      background-position: -14px -18px;
      width: 12px;
      height: 12px;
  }
}
