<ion-header class="shadow">
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button class="ml-2" (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header"></i>
			</button>
		</ion-buttons>
		<ion-title>Edit Password</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

  <div>
    <div class="form-group">
      <label >Sandi Kata Lama</label>
      <input type="password" class="form-control" placeholder="Kata Sandi Lama" [(ngModel)]="data.password" [ngModelOptions]="{standalone:true}">
    </div>
    <div class="form-group">
      <label >Sandi Kata Baru</label>
      <input type="password" class="form-control" placeholder="Kata Sandi Baru" [(ngModel)]="data.new_password" [class.is-invalid]="data.new_password?.length > 0 && data.new_password?.length < 6" [ngModelOptions]="{standalone:true}">
      <div class="invalid-feedback" *ngIf="data.new_password?.length > 0 && data.new_password?.length < 6">
        Kata sandi minimum 6 karakter
      </div>
    </div>
    <div class="form-group">
      <label >Konfirmasi Kata Sandi Baru</label>
      <input type="password" class="form-control" placeholder="Konfirmasi Kata Sandi Baru" [(ngModel)]="data.password_confirmation" [class.is-invalid]="data.password_confirmation?.length > 0 && validPassword == false" [ngModelOptions]="{standalone:true}" (input)="checkPassword()">
      <div class="invalid-feedback" *ngIf="data.password_confirmation?.length > 0 && validPassword == false">
        Konfirmasi kata sandi tidak sama
      </div>
    </div>
  </div>

  <button type="button" class="btn  btn-block btn-rounded mt-2" ion-button color="success" round (click)="updatePassword()" [disabled]="((data.new_password == undefined && data.new_password == null) && (data.password_confirmation == undefined || data.password_confirmation == null)) || (data.password_confirmation !== data.new_password) || (data.password == null || data.password == undefined)">Selesai</button>

</ion-content>
