<ion-header class="shadow">
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button class="ml-2" (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header"></i>
			</button>
		</ion-buttons>
		<ion-title>Edit Profil</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

  <ng-container *ngIf="spinner; else MainContent">
    <div class="text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-container>

  <ng-template #MainContent>
    <ng-container *ngIf="errorGetActivity; else LoadedProfile">
      <div>
        <error-500 [retry_id]="'profile_edit'"></error-500>
      </div>
    </ng-container>
    <ng-template #LoadedProfile>
      <div>
        <div class="form-group">
          <label >Nama Lengkap</label>
          <input type="text" class="form-control" placeholder="Nama Lengkap" [(ngModel)]="data.usr_fullname" [ngModelOptions]="{standalone:true}">
        </div>
        <div class="form-group">
          <label >Email</label>
          <input type="text" class="form-control" placeholder="Alamat Email" [(ngModel)]="data.usr_email" [ngModelOptions]="{standalone:true}">
        </div>
        <div class="form-group">
          <label >Nomor Telepon</label>
          <input type="text" class="form-control" placeholder="Nomor Telepon" [(ngModel)]="data.usr_phone" [ngModelOptions]="{standalone:true}">
        </div>
        <div class="form-group">
          <label >Alamat</label>
          <textarea class="form-control" rows="6" placeholder="Alamat anda" [(ngModel)]="data.usr_address" [ngModelOptions]="{standalone:true}"></textarea>
        </div>
      </div>
    
      <button type="button" class="btn  btn-block btn-rounded mt-2" (click)="saveProfile()" ion-button color="success" round>Selesai</button>
    </ng-template>
  </ng-template>

</ion-content>
