// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important;
   }

   .mymodalInfo .modal-wrapper{
      left: 0;
      top: 0;
      position: absolute;
      display: block;
      width: 75%;
      // max-height:36%;
      // height:auto;
      contain: strict;
      bottom: 0px;
      right: 0px;
      margin: auto;
    }

    ion-modal.auto-height {
        &.bottom {
            align-items: flex-end;
        }
    
        --height: auto;
    
        .ion-page {
            position: relative;
            display: block;
            contain: content;
    
            .inner-content {
                max-height: 80vh;
                overflow: auto;
                padding: 10px;
            }
        }
    }

    .mymodalInfo {
      ::-webkit-scrollbar,
      *::-webkit-scrollbar {
        display: none;
      }
    }

   .toast-default-top .toast-top{
      z-index: 9999;
      top: 56px!important;
      height: 150px;
      font-size:18px!important;;
      background: #FFFFB1;
    }
    
    .toast-default-top .toast-message{
        color: black!important;
        font-size:18px!important;
    }
   
.toast-default .toast-bottom{
    border-radius: 15px;
    z-index: 9999;
    width: 95%;
    bottom: 16px!important;
    background: #272727;
}

.toast-danger .toast-bottom{
    border-radius: 15px;
    z-index: 9999;
    width: 95%;
    bottom: 16px!important;
    background: color($colors, 'danger');
}

.toast-message{
    padding : 10px 15px!important;
    text-align: center!important;
}

.badge-cart{
    position: relative;
    top: -8px;
    padding: 5px 6px;
    background: red;
    color: white;
    border-radius: 50%;
    right: -35px;
    font-size: 8px;
    z-index: 9999;
}

.item-cover {
    width: unset !important;
    height: unset !important;
 }

.spinner-center {
    display: block;
    margin: auto;
}

.invalid-feedback{
    color: white;
}

ion-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
  }

.img-list-payment {
  }

  .label-accordion{
    position: relative;
  }

  .accordion-icon{
    position: absolute;
    right: 10px;
  }

  .gopay{
    background: url('../assets/icon/gopay.png');
    width: 40px;
    height: 40px;
  }

  ::-webkit-input-placeholder { /* Edge */
    color:red!important;
    font-style: italic;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:red!important;
    font-style: italic;
  }
  
  ::placeholder {
    color:red!important;
    font-style: italic;
  }

  .datetime-placeholder{
    color:red!important;
    font-style: italic;
  }

  textarea::-webkit-input-placeholder {
    color: red!important;
    font-style: italic;
  }
  
  textarea:-moz-placeholder { /* Firefox 18- */
    color: red!important;
    font-style: italic;  
  }
  
  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: red!important;
    font-style: italic;  
  }
  
  textarea:-ms-input-placeholder {
    color: red!important;
    font-style: italic;  
  }
  
  textarea::placeholder {
    color: red!important;
    font-style: italic;  
  }