<ion-header class="shadow">
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button class="ml-2" (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header"></i>
			</button>
		</ion-buttons>
		<ion-title>Promo</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

  <!-- <comingsoon></comingsoon> -->

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

	<ng-container *ngIf="spinner; else MainContent">
    <div class="text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-container>

  <ng-template #MainContent>
    <ng-container *ngIf="errorGetData; else LoadedNews">
      <div>
        <error-500 [retry_id]="'promo'"></error-500>
      </div>
		</ng-container>

		<ng-template #LoadedNews>
      <ng-container *ngIf="list_data.length > 0;else NoData">
          <div *ngFor="let list of list_data">
            <div class="card mb-2 bg-white shadow-light card-news-update " (click)="detail(list.blog_uuid)">
              <div class="badge badge-primary badge-promonews">Promo</div>
              <div class="card-header text-center position-relative">
                  <img [src]="global.config('urlApi') + list.blog_image" class="background-news">
              </div>
              <div class="card-footer border-0 p-3">
                  <div class="media">
                      <div class="media-body">
                          <h5 class="mb-2">{{ list.blog_title }}</h5>
                          <p class="mb-0 text-muted" [innerHTML]="global.limitBlogDesc(list.blog_description)">
                            <!-- {{ list.blog_description }} -->
                          </p>
                      </div>
                  </div>
              </div>
            </div>
          </div>

          <ion-infinite-scroll (ionInfinite)="doLoadMore($event)" *ngIf="loadMore == true">
            <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Mengambil data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </ng-container>

			<ng-template #NoData>
        <div class="d-flex justify-content-center h-100" padding> 
          <div class="text-center card-body m-auto">
            <div class="avatar avatar-60 no-shadow mb-2 border-top align-items-center d-flex">
              <i class="bx bx-news m-auto h1" ion-text color="primary"></i>
            </div>
            <h3 class="mt-5 mb-3 font-weight-normal">Tidak Ada Promo.</h3>
            <p class="text-secondary text-muted">Belum Ada Promo Yang Tersedia.</p>
          </div>
        </div>
			</ng-template>
    </ng-template>
  </ng-template>

</ion-content>
