<div class="d-flex justify-content-center h-100" padding> 
  <div class="text-center card-body m-auto">
    <div class="avatar avatar-60 no-shadow mb-2 border-top align-items-center d-flex" *ngIf="retry_id !== 'vehicle' && retry_id !== 'transaction'">
      <i class="bx bxs-error m-auto h1" ion-text color="primary"></i>
    </div>
    <h3 class="{{ (retry_id !== 'vehicle' && retry_id !== 'transaction') ? 'mt-5' : ''}} mb-3 font-weight-normal">Oops...</h3>
    <p class="text-secondary text-muted p-0 m-0" *ngIf="retry_id !== 'vehicle' && retry_id !== 'transaction'">Terjadi kesalahan sistem.</p>
    <p class="text-secondary text-muted p-0" *ngIf="retry_id !== 'vehicle' && retry_id !== 'transaction'">Pastikan koneksi anda terhubung ke jaringan.</p>
    <small class="text-muted">ERROR 500</small>
    <div class="text-center" *ngIf="retry_id !== null || retry_id !== undefined">
      <button class="btn btn-outline-primary btn-sm w-50" (click)="retry(retry_id)" *ngIf="retry_id !== undefined">
        Coba Lagi
      </button>
    </div>
  </div>
</div>