<ion-header class="shadow">
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button class="ml-2" (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header"></i>
			</button>
		</ion-buttons>
		<ion-title>Contact Us</ion-title>
	</ion-navbar>
</ion-header>

<!-- contact us -->
<ion-content>
	<!-- <div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16370.602744099517!2d106.78173861590386!3d-6.182306248782904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f6f50de17c9b%3A0xb287bf108f4ef441!2sMall%20Taman%20Anggrek!5e0!3m2!1sid!2sid!4v1594952512019!5m2!1sid!2sid" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div> -->
	<mapsview [list_data]="list_data"></mapsview>

	<div padding>
		<div class="" *ngIf="list_data.length > 0">
			<div class="card p-4 shadow-sm mb-4" *ngFor="let str of list_data" (click)="checkLatLong(str)">
				<h5 class="my-1">{{ str.str_name }}</h5>
				<hr class="shadow-sm my-3">
				<div class="media mb-4 align-items-center d-flex">
					<span class="mr-4">
						<i class="bx bx-map h2" ion-text color="primary" ></i>
					</span>
					<div class="media-body">
						<h6 class="my-0">Address</h6>
						<p>
							{{ str.str_address }}
						</p>
					</div>
				</div>
				<div class="media mb-4 align-items-center d-flex">
					<span class="mr-4">
						<i class="bx bx-envelope h2" ion-text color="primary" ></i>
					</span>
					<div class="media-body">
						<h6 class="my-0">Email</h6>
						<p>
						{{ str.str_email }}
						</p>
					</div>
				</div>
				<div class="media  align-items-center d-flex">
					<span class="mr-4">
						<i class="bx bx-phone-call h2" ion-text color="primary" ></i>
					</span>
					<div class="media-body">
						<h6 class="my-0">Telepon</h6>
						<p>
							{{ str.str_phone }}
						</p>
					</div>
				</div>
				<div class="media  align-items-center d-flex">
					<span class="mr-4">
						<i class="bx bxl-whatsapp h2" ion-text color="primary" ></i>
					</span>
					<div class="media-body">
						<h6 class="my-0">WhatsApp</h6>
						<p>
							{{ str.str_whatsapp_number }}
						</p>
					</div>
				</div>
				<div class="media  align-items-center d-flex">
					<span class="mr-4">
						<i class="bx bx-calendar-event h2" ion-text color="primary" ></i>
					</span>
					<div class="media-body">
						<h6 class="my-0">Jam Operational</h6>
						<p>
							{{ str.str_open }} - {{ str.str_close }}
						</p>
					</div>
				</div>
			</div>
		</div>

		<ion-infinite-scroll (ionInfinite)="doLoadMore($event, page)" *ngIf="loadMore == true">
			<ion-infinite-scroll-content loadingSpinner="dots" loadingText="Mengambil data...">
			</ion-infinite-scroll-content>
		</ion-infinite-scroll>
	
		<!-- <div class="card p-4 shadow-sm mb-4">
			<h5 class="my-1">Cabang Dua</h5>
			<hr class="shadow-sm my-3">
			<div class="media mb-4 align-items-center d-flex">
				<span class="mr-4">
					<i class="bx bx-map h2" ion-text color="primary" ></i>
				</span>
				<div class="media-body">
				  <h6 class="my-0">Address</h6>
				  <p>
					Jl. Cras sit amet nibh libero, in gravida nulla
				  </p>
				</div>
			  </div>
			  <div class="media mb-4 align-items-center d-flex">
				<span class="mr-4">
					<i class="bx bx-envelope h2" ion-text color="primary" ></i>
				</span>
				<div class="media-body">
				  <h6 class="my-0">Email</h6>
				  <p>
					suppor@gmail.com
				  </p>
				</div>
			  </div>
			  <div class="media  align-items-center d-flex">
				<span class="mr-4">
					<i class="bx bx-phone-call h2" ion-text color="primary" ></i>
				</span>
				<div class="media-body">
				  <h6 class="my-0">Telephone</h6>
				  <p>
					0213749078
				  </p>
				</div>
			  </div>
		</div> -->
	</div>
</ion-content>


