<ion-header>
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header ml-2"></i>
			</button>
		</ion-buttons>
		<ion-title>Detail</ion-title>
		<ion-buttons right>
			<button ion-button clear color="white" icon-only>
				<i class="bx bx-share-alt font-header mr-2"></i>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div class="text-center mb-4">
		<h3 class="mb-2">Contrary to popular belief, Lorem Ipsum is not simply random text</h3>
		<p class="text-secondary small">Jun 20, 2020</p>
	</div>

	<div class="mb-4">
		<img src="../../../assets/image/banner.jpg" alt="" class="w-100 mx-auto mb-4">
		<p class="">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		<p class="">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


		<h4>Best class template with details</h4>
		<p class="text-mute">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

		<div class="row">
			<div class="col-6">
				<img src="../../../assets/image/banner.jpg" alt="" class="w-100 mx-auto" style="height: 100%;">
			</div>
			<div class="col-6">
				<div class="row">
					<div class="col-12 mb-3">
						<img src="../../../assets/image/banner.jpg" alt="" class="w-100 mx-auto">
					</div>
					<div class="col-12">
						<img src="../../../assets/image/banner.jpg" alt="" class="w-100 mx-auto">
					</div>
				</div>
			</div>
		</div>

		<h4>Best class template with details</h4>
		<p class="text-mute">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		
	</div>
	
</ion-content>