<div>
	<ng-container *ngIf="loginForm; else RegisterForm">
		<login></login>
	</ng-container>
	
	<ng-template #RegisterForm>
		<form [formGroup]="FormRegister" #myForm>
			<div class="text-white w-100">
				
				<h1 class="font-weight-bold mb-4 mt-1">Register</h1>
				<div class="form-group">
					<input type="text" id="username" class="form-control" placeholder="Nama Lengkap" autofocus="" [(ngModel)]="data.usr_fullname" formControlName="usr_fullname">
				</div>
				<div class="form-group">
					<input type="text" id="phone" class="form-control" placeholder="Nomor Telepon" autofocus="" [(ngModel)]="data.usr_phone" formControlName="usr_phone">
				</div>
				<div class="form-group">
					<input type="email" id="inputEmail" class="form-control" [class.is-invalid]="FormRegister.controls.usr_email.dirty && FormRegister.hasError('notEmail')" placeholder="Alamat Email" autofocus="" [(ngModel)]="data.usr_email" formControlName="usr_email">
					<div class="invalid-feedback" *ngIf="FormRegister.controls.usr_email.dirty && FormRegister.hasError('notEmail')">
						Masukan Email Yang Sah
					</div>
				</div>
				<div class="form-group">
					<input type="password" id="inputPassword" class="form-control" placeholder="Kata Sandi" [(ngModel)]="data.usr_password" formControlName="usr_password">
				</div>
				<div class="form-group">
					<input type="password" id="inputPassword1" class="form-control" [class.is-invalid]="FormRegister.controls.usr_password_confirm.dirty && FormRegister.hasError('notSame')" placeholder="Konfirmasi Kata Sandi" [(ngModel)]="data.usr_password_confirm" formControlName="usr_password_confirm">
					<div class="invalid-feedback" *ngIf="FormRegister.controls.usr_password_confirm.dirty && FormRegister.hasError('notSame')">
						Konfirmasi Password Tidak Sama
					</div>
				</div>
				
				<div class="custom-control custom-checkbox mb-3 mt-4">
					<input type="checkbox" class="custom-control-input" id="agreeTC" [(ngModel)]="agreeTc" [ngModelOptions]="{standalone:true}" [checked]="agreeTc">
					<label class="custom-control-label" for="agreeTC">Agree to the Terms and Condition</label>
				</div>
	
				<button class=" btn mb-4 btn-lg btn-white  mt-5 btn-block" [disabled]="!agreeTc || !FormRegister.valid || !btnRegister" (click)="register()">Sign Up</button>
				<button class=" btn mb-4 btn-lg btn-secondary  mt-5 btn-block" (click)="backtoHome()" *ngIf="link == 'home'">Back to Home</button>
				<p class="">Already have account? Please <u><span (click)="login()">Sign In</span> here.</u></p>
	
			</div>
		</form>
		
	</ng-template>
</div>


