<ion-header>
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header ml-2"></i>
			</button>
		</ion-buttons>
		<ion-title *ngIf="page == 'order'">Servis di Bengkel</ion-title>
		<ion-title *ngIf="page == 'orderSubmitted'">Penjadwalan Berhasil</ion-title>
	</ion-navbar>
</ion-header>

<ion-content >

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      pullingText="Perbaharui data"
      refreshingSpinner="null"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  
  <ng-container *ngIf="global.isLogin !== true; else MainContent">
    <div class="bg-default" padding style="height: 100%; width: 100%;">
      <login></login>
    </div>
  </ng-container>
  
  <ng-template #MainContent>
    <!-- Container Order -->
    <ng-container *ngIf="page == 'order'; else orderSubmitted">
      <div padding>
        <div class="text-center">
          <h4 class="subtitle mb-0" ion-text color="primary">Pilih Kendaraan Anda</h4>
          <p class="text-secondary">Klik Gambar Untuk Memilih Kendaraan Yang Akan Di Servis</p>
        </div>
      
        <div>
          <div class="slider-vehicle d-flex align-items-center">
            <i class='bx bx-left-arrow-circle navigation-slider-left' (click)="slidePrev()" ></i>
      
            <ion-slides class="h-auto mt-3" (ionSlideDidChange)="slideChanged()"> 
              <ng-container *ngIf="spinnerVehicle == true;else ListVehicle">
                <div class="spinner-center">
                  <ion-spinner name="crescent"></ion-spinner>
                </div>
              </ng-container>
              <ng-template #ListVehicle>
                <ng-container *ngIf="myVehicle.length > 0;else NoVehicle">
                  <ion-slide class="m-auto" *ngFor="let list of myVehicle">
                    <i class='bx bx-check vehicle-check shadow-sm' *ngIf="vehicle == list.cst_crs_id"></i>
                    <div class="card border-0 shadow-sm card-choose-car" (click)="setVehicle(list.cst_crs_id, list.crs_model_id)">
                      <div class="card-body text-center d-flex align-items-center">
                        <div class="w-100 m-auto">
                          <img [src]="(list.cst_crs_photo !== null) ? global.config('urlApi')+list.cst_crs_photo : './../../assets/image/icon-car/3.png'" class="icon-mobile">
                          <h6>{{ list.crs_brand_name }} {{ list.crs_model_name }}</h6>
                          <p>{{ list.crs_model_transmission }} {{ list.crs_model_type }}</p>
                          <h6>{{ list.cst_crs_police_number }}</h6>
                        </div>
                      </div>
                    </div> 
                  </ion-slide>
      
                  <ion-slide class="m-auto">
                    <div class="card border-0 shadow-sm border-dashed " (click)="addVehicle()">
                      <div class="card-body text-center d-flex align-items-center">
                          <i class="bx bx-plus m-auto h" ion-text color="primary"></i>
                      </div>
                    </div> 
                  </ion-slide>
                </ng-container>
                <ng-template #NoVehicle>
                  <ion-slide class="m-auto">
                    <div class="card border-0 shadow-sm border-dashed " (click)="addVehicle()">
                      <div class="card-body text-center d-flex align-items-center">
                          <i class="bx bx-plus m-auto h" ion-text color="primary"></i>
                      </div>
                    </div> 
                  </ion-slide>
                </ng-template>
              </ng-template>
            </ion-slides>
      
            <i class='bx bx-right-arrow-circle navigation-slider-right' (click)="slideNext()" ></i>
          </div>
        </div>
      
        <form>
          <div class="mt-4 mb-4">
  
            <h4 class="subtitle mb-0 text-center" ion-text color="primary">Tanggal & Lokasi</h4>
            <hr class="shadow-sm">
            <div class="form-group">
              <label for="exampleFormControlInput1">Bengkel</label>
              <!-- <select class="custom-select form-control" [(ngModel)]="data.str_id" [ngModelOptions]="{ standalone: true }" [disabled]="vehicle == undefined">
                <option *ngFor="let list of storeDropdown" value="{{ list.str_id }}">{{ list.str_name }}</option>
              </select> -->
              <ion-input type="hidden" [ngModelOptions]="{ standalone: true }" [(ngModel)]="data.str_id"></ion-input>
              <input type="text" class="form-control" placeholder="Pilih Bengkel" [(ngModel)]="data_label['str_id_label']" [ngModelOptions]="{standalone: true}" readonly (click)="sAutoComplete('str_id', 'Lokasi Servis')">
            </div>
            <div class="form-group">
              <label >Tanggal</label>
              <ion-datetime class="form-control" [(ngModel)]="data.srv_t_date" [ngModelOptions]="{standalone:true}"  [disabled]="vehicle == undefined" 
                    displayFormat="MMM DD YYYY" pickerFormat="YYYY MMM DD" [min]="minDay" [max]="global.config('maxYear')" placeholder="Pilih tanggal servis" (ionChange)="getSchedule()"></ion-datetime>
            </div>
            <div class="form-group">
              <label >Jam</label>
              <select class="custom-select form-control" [(ngModel)]="data.srv_t_hours_start" [ngModelOptions]="{ standalone: true }" [disabled]="vehicle == undefined" placeholder="Pilih jam servis" *ngIf="availableSrv;else Libur">
                <option value="null">Choose</option>
                <option value="{{ h.time }}" *ngFor="let h of availableSchedule;" [disabled]="h.count <= 0" [style.color]="(h.count <= 0) ? '#eee' : ''">{{ global.deleteSecond(h.time) }}</option>
              </select>

              <ng-template #Libur>
                <select class="custom-select form-control">
                  <option disabled>Libur ({{dayOffReason}})</option>
                </select>
              </ng-template>
              
            </div>
  
            <div *ngIf="availableSrv">
              <h4 class="subtitle mb-0 text-center" ion-text color="primary">Jenis Layanan</h4>
              <div *ngIf="vehicle !== undefined; else PleaseChoose">
                <div class="form-group">
                  <select class="custom-select form-control" [(ngModel)]="type_service" [ngModelOptions]="{ standalone: true }" (change)="setTypeService(type_service)">
                    <option value="null">Choose</option>
                    <option value="1">Service Reguler</option>
                    <option value="2">Service Paket</option>
                  </select>
                </div>
            
                <hr class="shadow">
                <!-- start - show when services berkala selected (paket)-->
                <div *ngIf="routine_service">
                  <p class=" mb-2" ion-text>Pilih Paket Servis</p>
                  <div class="px-3 pt-2 pb-1">
			              <ion-searchbar showCancelButton="always" [(ngModel)]="keywordRS" [ngModelOptions]="{standalone:true}" placeholder="Cari Servis..." (ionChange)="search($event, 2)"></ion-searchbar>
                  </div>
                  <div class="box-package-scroll">
                    <ng-container *ngIf="spinnerService == true;else listRServices">
                      <div class="text-center">
                        <ion-spinner name="crescent"></ion-spinner>
                      </div>
                    </ng-container>
                    <ng-template #listRServices>
                      <ng-container *ngIf="dropdownServices.length > 0;else EmptyR">
                        <div class="card shadow-sm border-0 mb-3" [style.background]="(selectedServices == dropdown.srv_b_id) ? '#eee' : ''" *ngFor="let dropdown of dropdownServices" (click)="doSelectServices(dropdown)">
                          <div class="card-body d-flex align-items-start">
                              <!-- <div class="custom-control custom-checkbox mt-1">
                                <input type="radio" class="custom-control-input" [checked]="checkSelectedServices(dropdown.srv_b_id) == true">
                                <label class="custom-control-label"></label>
                              </div> -->
                              <div class="form-check">
                                <input class="form-check-input" type="radio" [checked]="selectedServices == dropdown.srv_b_id">
                                <label class="form-check-label"></label>
                              </div>
                              <div class="ml-3">
                                <h6 class="font-weight-normal mb-1 mt-0">{{ dropdown.srv_b_name }}</h6>
                                <p class="mb-1" ion-text color="primary">
                                  Rp{{ global.currencyFormat(dropdown.srv_b_price) }}
                                </p>
                                Jasa : 
                                <br>
                                <span class="small text-secondary spanr-4" [innerHTML]="dropdown.srv_b_description">
                                </span>
                                Produk : 
                                <br>
                                <small class="small text-secondary spanr-4" *ngFor="let srv of dropdown.prd_id">
                                  {{ srv.prd_name }}, 
                                </small>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <ng-template #EmptyR>
                        <div class="d-flex justify-content-center h-100"> 
                          <div class="text-center card-body m-auto">
                            <div class="avatar avatar-60 no-shadow mb-2 border-top align-items-center d-flex">
                              <i class='bx bxs-car-mechanic m-auto h1' ion-text color="primary"></i>
                            </div>
                            <h3 class="mt-5 mb-3 font-weight-normal">Servis tidak tersedia</h3>
                            <p class="text-secondary text-muted mb-3">Mohon maaf, saat ini belum ada servis untuk mobil anda</p>
                            <p ion-text color="primary" class="small" (click)="setTypeService(this.data.srv_t_type)">
                              Muat Ulang
                            </p>
                          </div>
                        </div>
                      </ng-template>
          
                      <div class="text-center mb-3" *ngIf="loadMore == true" [hidden]="dropdownServices.length < this.criteria.show">
                        <span ion-text color="primary" (click)="loadMoreService(2)" *ngIf="!isLoadMore">Tampilkan lebih banyak</span>
                        <ion-spinner name="crescent" *ngIf="isLoadMore"></ion-spinner>
                      </div>
                    </ng-template>
                  </div>
                  
        
                  <hr class="shadow">
                </div>
                <!-- end - show when services berkala selected -->
            
                <!-- start - show when services biasa selected (reguler)-->
                <div *ngIf="usual_service">
                  <p class=" mb-2" ion-text>Pilih Servis</p>
                  <div class="px-3 pt-2 pb-1">
			              <ion-searchbar showCancelButton="always" [(ngModel)]="keywordRS" [ngModelOptions]="{standalone:true}" placeholder="Cari Servis..." (ionChange)="search($event, 1)"></ion-searchbar>
                  </div>
                  <div class="box-package-scroll">
                    <ng-container *ngIf="spinnerService == true;else listUServices">
                      <div class="text-center">
                        <ion-spinner name="crescent"></ion-spinner>
                      </div>
                    </ng-container>
                    <ng-template #listUServices>
                      <ng-container *ngIf="dropdownServices.length > 0;else EmptyUsual">
                        <div class="card shadow-sm border-0 mb-3" [style.background]="(checkSelectedServices(dropdown.srv_id) == true) ? '#eee' : ''" *ngFor="let dropdown of dropdownServices" (click)="doSelectServices(dropdown)">
                          <div class="card-body d-flex align-items-start">
                              <div class="custom-control custom-checkbox mt-1">
                                <input type="checkbox" class="custom-control-input" [checked]="checkSelectedServices(dropdown.srv_id) == true">
                                <label class="custom-control-label"></label>
                              </div>
                              <div class="ml-3">
                                <h6 class="font-weight-normal mb-1 mt-0">{{ dropdown.srv_name }}</h6>
                                <p class="text-secondary pr-4 mb-0">
                                  Rp {{ global.currencyFormat(dropdown.srv_price) }}
                                </p>
                                <p class="text-muted">
                                  {{ dropdown.srv_description }}
                                </p>
                            </div>
                          </div>
                        </div>
                        
            
                        <div class="text-center mb-3" *ngIf="loadMore == true" [hidden]="dropdownServices.length < this.criteria.show">
                          <span ion-text color="primary" (click)="loadMoreService(1)" *ngIf="!isLoadMore">Tampilkan lebih banyak</span>
                          <ion-spinner name="crescent" *ngIf="isLoadMore"></ion-spinner>
                        </div>
                      </ng-container>
        
                      <ng-template #EmptyUsual>
                        <div class="d-flex justify-content-center h-100"> 
                          <div class="text-center card-body m-auto">
                            <div class="avatar avatar-60 no-shadow mb-2 border-top align-items-center d-flex">
                              <i class='bx bxs-car-mechanic m-auto h1' ion-text color="primary"></i>
                            </div>
                            <h3 class="mt-5 mb-3 font-weight-normal">Tidak Ada Servis</h3>
                            <p class="text-secondary text-muted">Mohon maaf, saat ini belum ada servis untuk mobil anda</p>
                            <button class="btn btn-outline-primary btn-sm w-50" (click)="setTypeService(this.data.srv_t_type)">
                              Muat Ulang
                            </button>
                          </div>
                        </div>
                      </ng-template>
                    </ng-template>
                  </div>
        
                  <hr class="shadow">
                </div>
                <!-- end - show when services biasa selected -->
                
                <div class="text-center" *ngIf="routine_service">
                  <span class="text-muted"><i>Harga di luar part tambahan bila ada tambahan pengerjaan diluar paket.</i></span>
                </div>
              </div>
    
              <ng-template #PleaseChoose>
                <div class="text-center h-10">
                  <span class="text-muted"><i>Silahkan pilih kendaraan terlebih dahulu</i></span>
                </div>
              </ng-template>
      
              <h6 class="subtitle text-center " ion-text color="primary">Keluhan Kendaraan</h6>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Estimasi waktu & biaya pengerjaan keluhan, baru dapat di tentukan ketika mobil sudah tiba" [(ngModel)]="data.srv_t_note_users" [ngModelOptions]="{standalone:true}"></textarea>
              </div>
            
              <div class="card mb-4 border-0 shadow bg-white w-100">
                <div class="card-body">
                  <div class="justify-content-between d-flex pb-3">
                    <p class="text-secondary my-0">Estimasi Harga <br><small class="text-muted">(Harga Hanya Estimasi)</small></p>
                    <h6 class="text-dark my-0">Rp{{ global.currencyFormat(estimatePrice) }}</h6>
                  </div>
                  <div class="justify-content-between d-flex border-top-dashed pt-3">
                    <p class="text-secondary my-0">Estimasi Pengerjaan<br><small class="text-muted">(Waktu Hanya Estimasi)</small></p>
                    <h6 class="text-dark my-0">{{ estimateTime.hours }} Jam {{ estimateTime.minutes }} Menit</h6>
                  </div>
                </div>
              </div>
          
              <h6 class="subtitle text-center mt-2" ion-text color="primary">Penanggung Jawab (optional)</h6>
              <hr class="shadow-sm">
              <div>
                <div class="takebyoption my-4  d-flex">
                  <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="self" (click)="takeBy = 'self'" [checked]="takeBy == 'self'" (change)="onChangeUserPick()">
                    <label class="form-check-label" for="self">Ambil Sendiri</label>
                  </div>
                  
                  <div class="form-check form-check-inline ml-3">
                    <input type="checkbox" class="form-check-input" id="takeby" (click)="takeBy = 'takeby'" [checked]="takeBy == 'takeby'" (change)="onChangeUserPick()">
                    <label class="form-check-label" for="takeby">Diambilkan</label>
                  </div>
                </div>
                <hr class="shadow-sm">
                <ng-container *ngIf="takeBy == 'self'; else TakeBy">
                  <div class="form-group">
                    <label >Atas Nama</label>
                    <input type="text" class="form-control" placeholder="Atas Nama" [(ngModel)]="data.srv_t_fullname" [ngModelOptions]="{standalone:true}">
                  </div>
                  <div class="form-group">
                    <label >Nomor KTP</label>
                    <input type="text" class="form-control" placeholder="Nomor Ktp" [(ngModel)]="data.srv_t_nik" [ngModelOptions]="{standalone:true}">
                  </div>
                  <div class="form-group">
                    <label >Nomor Telp</label>
                    <input type="text" class="form-control" placeholder="Nomor Telepon" [(ngModel)]="data.srv_t_phone" [ngModelOptions]="{standalone:true}">
                  </div>
                </ng-container>
                <ng-template #TakeBy>
                  <div class="form-group">
                    <label >Atas Nama Pengambil</label>
                    <input type="text" class="form-control" placeholder="Atas Nama" [(ngModel)]="data.srv_t_fullname" [ngModelOptions]="{standalone:true}">
                  </div>
                  <div class="form-group">
                    <label >Nomor Telp Pengambil</label>
                    <input type="text" class="form-control" placeholder="Nomor Telepon" [(ngModel)]="data.srv_t_phone" [ngModelOptions]="{standalone:true}">
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </form>
        
        <button class="btn btn-primary btn-block my-4" (click)="submitOrder()" ion-button color="primary" round *ngIf="availableSrv">Request Order</button>
      </div>
      
      
    </ng-container>

    <!-- Container After Order Submitted -->
    <ng-template #orderSubmitted>
      <ng-container *ngIf="page == 'orderSubmitted'">
        <div padding>
          <div class="card mb-4 border-0 shadow-sm py-4 ">
            <div class="card-body text-center">
              <img src="../../assets/image/check.svg" style="height: 55px;" class="mb-3">
              <p class="text-secondary my-1">Menunggu Pembayaran Booking Fee</p>
              <h4 class="mb-0 mt-1">Silahkan Melakukan Pembayaran Booking Fee</h4>
              <p class="mb-0 mt-1" style="font-size: 16px;">Klik Tombol Dibawah Untuk Melakukan Pembayaran Booking Fee</p>
              <br>
              <i>
                <p class="mb-0 mt-1 text-secondary">* Batas Pembayaran Booking Fee Max 1 Jam, Jika Melebihi Batas Yang Ditentukan Maka Anda Harus Melakukan Order Ulang.</p>
                <p class="mb-0 mt-1 text-danger font-weight-bold">* Status booking akan batal otomatis apa bila Anda tidak datang 60 menit dari waktu yang telah anda jadwalkan</p>
              </i>
            </div>
          </div>
          <button type="button" class="btn btn-block btn-rounded mt-2" ion-button color="primary" round (click)="orderDetail()">Bayar Booking Fee</button>
        </div>
      </ng-container>
    </ng-template>
  </ng-template>
  

</ion-content>

<!-- ini kalo pilih layanannya dibuat checkbook mirip auto200 -->
<!-- <div>
  <div class="card shadow-sm border-0 mb-3">
    <div class="card-body d-flex align-items-start">
        <div class="custom-control custom-checkbox mt-1">
          <input type="checkbox" class="custom-control-input">
          <label class="custom-control-label"></label>
        </div>
        <div class="ml-3">
          <h6 class="font-weight-normal mb-0 mt-0">Service Berkala</h6>
      </div>
    </div>
  </div>
  <div class="card shadow-sm border-0 mb-3">
    <div class="card-body d-flex align-items-start">
        <div class="custom-control custom-checkbox mt-1">
          <input type="checkbox" class="custom-control-input">
          <label class="custom-control-label"></label>
        </div>
        <div class="ml-3">
          <h6 class="font-weight-normal mb-0 mt-0">Service Biasa</h6>
      </div>
    </div>
  </div>
</div> -->