<div>
	<ng-container *ngIf="registerForm; else LoginForm">
		<register></register>
	</ng-container>
	
	<ng-template #LoginForm>

        <ng-container *ngIf="template == 'login'; else Forgot">
            <div class="h-100 align-items-center d-flex">
                <div class="m-auto w-100">
                    <!-- <img src="../../assets/image/logo-chevy.png" style="height: 130px; margin-left: -20px; margin-bottom: 20px; margin-top:30px"> -->
                    <div class="mb-5 mt-3">
                        <h4 class="mb-0 mt-2 text-white">Welcome to</h4>
                        <h1 class="font-weight-bold mt-1 mb-4 text-white" style="font-size: 36px;">Chevycare</h1>
                    </div>
                    
                    <form [formGroup]="FormLogin" #myForm>
                      <div class="form-group">
                          <label class="text-white">Email address</label>
                          <input type="email" class="form-control" [class.is-invalid]="FormLogin.controls.email.dirty && FormLogin.hasError('notEmail')" placeholder="Masukan email" autofocus="" [(ngModel)]="data.email" formControlName="email" >
                          <div class="invalid-feedback text-white" *ngIf="FormLogin.controls.email.dirty && FormLogin.hasError('notEmail')">
                            Masukan Email Yang Sah
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="text-white">Password</label>
                          <input type="password" class="form-control" placeholder="Masukan password" [(ngModel)]="data.password" formControlName="password">
                      </div>
                      
                      <div class="my-3 row">
                          <!-- <div class="col-6 col-md py-1 text-left">
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                                  <label class="custom-control-label" for="customCheck1">Remember Me</label>
                              </div>
                          </div> -->
                          <div class="col-12 col-md py-1 text-right text-md-right">
                              <h5 class="small text-white" (click)="forgotPassword()">Lupa Password ?</h5>
                          </div>
                      </div>
                     
                      <button class=" btn btn-lg btn-white  btn-block mb-5 mt-3" (click)="login()" [disabled]="!FormLogin.valid">
                        Sign In
                      </button>
                      
                      <p class="mb-4 text-white">Do not have account yet?<br>Please <u><span class="text-white" (click)="register()">Sign up here</span>.</u></p>
                    </form>
                </div>
            </div>
        </ng-container>

        <ng-template #Forgot>
            <ng-container *ngIf="template == 'forgot'; else Token">
                <form [formGroup]="FormForgot" #myFormForgot>
                    <div class="form-group">
                        <label class="text-white">Email address</label>
                        <input type="email" class="form-control" [class.is-invalid]="FormForgot.controls.email.dirty && FormForgot.hasError('notEmail')" placeholder="Masukan email" autofocus="" [(ngModel)]="data.email" formControlName="email" >
                        <div class="invalid-feedback text-white" *ngIf="FormForgot.controls.email.dirty && FormForgot.hasError('notEmail')">
                          Masukan Email Yang Sah
                        </div>
                    </div>
        
                    <button class=" btn btn-lg btn-white  btn-block mb-5 mt-3" (click)="sendForgot()" [disabled]="!FormForgot.valid">
                        Reset Password
                    </button>
                </form>
            </ng-container>
        </ng-template>
        
        <ng-template #Token>
            <ng-container *ngIf="template == 'token'; else Reset">
                <h6 class="text-center text-white">Silahkan masukan kode yang dikirim ke email anda</h6>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex" style="width: 15%; text-align: center">
                            <ion-input class="form-control otp" type="number" #first required="true" maxLength="1" [(ngModel)] ="OTP['first']" (ionChange)="otpController($event,'first',second)"></ion-input>
                        </div>
                        <div class="d-flex" style="width: 15%; text-align: center">
                            <ion-input class="form-control otp" type="number" #second required="true" maxLength="1" [(ngModel)]="OTP['second']" (ionChange)="otpController($event,'second',third)"></ion-input>
                        </div>
                        <div class="d-flex" style="width: 15%; text-align: center">
                            <ion-input class="form-control otp" type="number" #third required="true" maxLength="1" [(ngModel)]="OTP['third']"  (ionChange)="otpController($event,'third',forth)"></ion-input>
                        </div>
                        <div class="d-flex" style="width: 15%; text-align: center">
                            <ion-input class="form-control otp" type="number" #forth required="true" maxLength="1" [(ngModel)]="OTP['forth']"  (ionChange)="otpController($event,'forth',fifth)"></ion-input>
                        </div>
                        <div class="d-flex" style="width: 15%; text-align: center">
                            <ion-input class="form-control otp" type="number" #fifth required="true" maxLength="1" [(ngModel)]="OTP['fifth']" (ionChange)="otpController($event,'fifth')"></ion-input>
                        </div>
                    </div>
                    <div class="pt-4 text-center">
                        <button class="btn btn-white btn-block" [disabled]="!btnSubmit" (click)="checkCode()">Submit</button>
                    </div>
            </ng-container>
        </ng-template>

        <ng-template #Reset>
            <ng-container *ngIf="template == 'reset'; else Done">
                <form [formGroup]="FormReset" #myFormReset>
                    <div class="form-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Kata Sandi Baru" [(ngModel)]="dataReset.password" formControlName="password">
                    </div>
                    <div class="form-group">
                        <input type="password" id="inputPassword1" class="form-control" [class.is-invalid]="FormReset.controls.password_confirmation.dirty && FormReset.hasError('notSame')" placeholder="Konfirmasi Kata Sandi" [(ngModel)]="dataReset.password_confirmation" formControlName="password_confirmation">
                        <div class="invalid-feedback" *ngIf="FormReset.controls.password_confirmation.dirty && FormReset.hasError('notSame')">
                            Konfirmasi Password Tidak Sama
                        </div>
                    </div>

                    <div class="pt-4 text-center">
                        <button class="btn btn-white btn-block" [disabled]="!btnSubmit" (click)="reset()">Submit</button>
                    </div>
                </form>
            </ng-container>
        </ng-template>

        <ng-template #Done>
            <ng-container *ngIf="template == 'done';">
                <h6 class="text-center">
                    Berhasil mengganti password. Silahkan login dengan password terbaru anda.
                    <button class="btn btn-white btn-block" [disabled]="!btnSubmit" (click)="setLogin()">Back to login</button>
                </h6>
            </ng-container>
        </ng-template>
        
	</ng-template>
</div>


