<ion-header>
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button (click)="dismiss()" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header ml-2"></i>
			</button>
		</ion-buttons>
		<ion-title>Products</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

  <tokopedia></tokopedia>

  <!-- <div class="row text-center ">
    <div class="col-12">
        <div class="card shadow-sm card-category border-0 mb-4" style="background-image: url('../../assets/image/category-sparepart.jpg');"  (click)="listProducts('Suku Cadang')">
            <div class="card-body text-left">
                <div class="btn-icon-home avatar-book no-shadow mb-1 border-top align-items-center d-flex mt-2">
                  <i class="bx bx-wrench m-auto h1 " color="light" ion-text></i>
                </div>
                <h4 class="text-white">Spare Part</h4>
                <p class="text-white pr-3">
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>

                <div class="align-items-center d-flex justify-content-end mt-3 mb-0">
                  <h6 ion-text color="primary">
                    View All<i class='bx bx-right-arrow-alt mb-0 ml-2'></i>
                  </h6>
                </div>
            </div>
        </div>
      </div>
   
      <div class="col-12">
        <div class="card shadow-sm card-category border-0 mb-4" style="background-image: url('../../assets/image/category-accesories.jpg');"  (click)="listProducts('Aksesoris')">
            <div class="card-body text-left">
                <div class="btn-icon-home avatar-book no-shadow mb-1 border-top align-items-center d-flex mt-2">
                  <i class="bx bx-package m-auto h1 " color="light" ion-text></i>
                </div>
                <h4 class="text-white">Accessories</h4>
                <p class="text-white pr-3">
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>

                <div class="align-items-center d-flex justify-content-end mt-3 mb-0">
                  <h6 ion-text color="primary">
                    View All<i class='bx bx-right-arrow-alt mb-0 ml-2'></i>
                  </h6>
                </div>
            </div>
        </div>
      </div> -->

      <!-- <div class="col-12">
        <div class="card shadow-sm card-category border-0 mb-4" style="background-image: url('../../assets/image/category-car.jpg');" >
            <div class="card-body text-left">
                <div class="btn-icon-home avatar-book no-shadow mb-1 border-top align-items-center d-flex mt-2">
                  <i class="bx bx-car m-auto h1 " color="light" ion-text></i>
                </div>
                <h4 class="text-white">Car</h4>
                <p class="text-white pr-3">
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>

                <div class="align-items-center d-flex justify-content-end mt-3 mb-0">
                  <h6 ion-text color="primary">
                    View All<i class='bx bx-right-arrow-alt mb-0 ml-2'></i>
                  </h6>
                </div>
            </div>
        </div>
      </div> -->
  <!-- </div> -->
  
</ion-content>
