<ion-content padding class="bg-primary">

	<div class="text-center h-100 align-items-center d-flex ">
		<div>
			<img height="80px" src="assets/image/waiting_verify.svg">
			<div class="p-4 mt-4">
				<h3 class="text-white">Verifikasi Pembayaran</h3>
				<p class="text-white">
					Pembayaran anda sedang di verifikasi mohon tunggu dan di cek berkala.
				</p>
			</div>
		</div>
	</div>

</ion-content>