<ion-content>
	<div class="text-center h-100 align-items-center d-flex">
		<div>
			<img src="assets/image/coming-soon.png" height="180px">
			<div class="p-4">
				<h2>Launching Soon</h2>
				<p>
					We're currently working on creating our new app. We'll be launching soon
				</p>
			</div>
		</div>
	</div>
</ion-content>



