<ion-header>
	<ion-navbar hideBackButton color="primary">
		<ion-buttons left>
			<button ion-button (click)="dismiss('cancel')" clear color="white" icon-only>
				<i class="bx bx-arrow-back font-header ml-2"></i>
			</button>
		</ion-buttons>
    <ion-title>Edit Kendaraan</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

  <ng-container *ngIf="spinner; else MainContent">
    <div class="text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-container>
  <ng-template #MainContent>
    <ng-container *ngIf="errorRequest; else Form">
      <error-500 [retry_id]="'edit_cars'"></error-500>
    </ng-container>
    <ng-template #Form>
      <div class="card border-0 shadow-sm card-choose-car mb-4">
        <div class="card-body text-center d-flex align-items-center">
          <div class="w-100 m-auto">
            <img src="./../../assets/image/icon-car/3.png" class="icon-mobile">
          </div>
        </div>
      </div> 
    
      <form [formGroup]="createForm" #myForm>
        <div class="form-group" *ngFor="let core of fields">
          <label class="text-muted">{{ core.cst_crs_f_label }}</label>
          <ng-container *ngIf="core.cst_crs_f_input_type=='s_autocomplete'; else year">
            <ion-input type="hidden" formControlName="{{ core.cst_crs_f_name }}" [(ngModel)]="data[core.cst_crs_f_name]"></ion-input>
            <input type="text" class="form-control" placeholder="Pilih {{ core.cst_crs_f_label }}" [(ngModel)]="data_label[core.cst_crs_f_name+'_label']" [ngModelOptions]="{standalone: true}" readonly (click)="sAutoComplete(core.cst_crs_f_name, core.cst_crs_f_label)">
          </ng-container>
          <ng-template #year>
            <ng-container *ngIf="core.cst_crs_f_input_type=='year'; else default">
              <ion-datetime [(ngModel)]="data[core.cst_crs_f_name]"
                    formControlName="{{ core.cst_crs_f_name }}" placeholder="Pilih Tahun" displayFormat="YYYY" pickerFormat="YYYY"
                    [max]="global.config('maxYear')" class="form-control"></ion-datetime>
            </ng-container>
          </ng-template>
          <ng-template #default>
            <input type="text" class="form-control" placeholder="{{ core.cst_crs_f_label }}" [(ngModel)]="data[core.cst_crs_f_name]" formControlName="{{ core.cst_crs_f_name }}">
          </ng-template>
        </div>
    
        <button type="button" class="btn btn-rounded btn-block mt-4" ion-button round color="primary" [disabled]="!createForm.valid" (click)="storeData()"> Simpan Kendaraan</button>
    
      </form>
    </ng-template>
  </ng-template>
  
    

</ion-content>
